Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: complete login command
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/login.ts
  packages/cli/src/helpers/utils.ts
  packages/cli/src/index.ts
  packages/common/src/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Extended Datetime Cfgu Types
  packages/schema/.cfgu.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

Extended Datetime Cfgu Types
  packages/schema/.cfgu.json
Due: pnpm prettier --ignore-path .gitignore --write

feat: Implement SplitConfigStore (#554)
  packages/integrations/stores/split/package.json
  packages/integrations/stores/split/src/split.ts
  packages/integrations/stores/split/tsconfig.json
  packages/integrations/stores/split/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: remove type validation from .cfgu
  packages/schema/.cfgu.json
Due: pnpm prettier --ignore-path .gitignore --write

Implemented datasize Cfgu Type (#564)
  packages/schema/.cfgu.json
Due: pnpm prettier --ignore-path .gitignore --write

Update .cfgu.json
  packages/schema/.cfgu.json
Due: pnpm prettier --ignore-path .gitignore --write

Extended Datetime Cfgu Types (#567)
  packages/schema/.cfgu.json
Due: pnpm prettier --ignore-path .gitignore --write

feat: return export command
  packages/cli/package.json
  packages/cli/src/commands/export.ts
  packages/cli/src/commands/run.ts
  packages/common/src/ConfiguFile.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Add support for default store in new repo structure
  packages/common/src/ConfiguFile.ts
  packages/schema/.configu.json
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Auto-default single store in ConfiguFile
  packages/common/src/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix the pnpm ci integration
  .github/workflows/ci-integrations.yml
Due: none

feat: return upsert command to cli
  packages/cli/src/commands/upsert.ts
  packages/cli/src/index.ts
  packages/common/src/index.ts
  packages/sdk/src/commands/UpsertCommand.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Migrate IniFileConfigStore to @configu/integrations
  packages/integrations/stores/ini-file/package.json
  packages/integrations/stores/ini-file/src/ini-file.ts
  packages/integrations/stores/ini-file/tsconfig.json
  packages/integrations/stores/ini-file/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update package.json
  packages/cli/package.json
Due: pnpm prettier --ignore-path .gitignore --write

Update base.ts
  packages/cli/src/commands/base.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Delete packages/integrations/stores/xml-file/src/configs-db.xml
  packages/integrations/stores/xml-file/src/configs-db.xml
Due: none

docs: add docs to aws secrets manager
  docs/images/store-examples/aws-secrets-manger/secrets-list.png
  docs/images/store-examples/aws-secrets-manger/upsert-result.png
  packages/integrations/stores/aws-secrets-manager/README.md
Due: pnpm prettier --ignore-path .gitignore --write

change twitter icon to x
  docs/mint.json
Due: pnpm prettier --ignore-path .gitignore --write

Create pnpm-lock.yaml
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

fix: changed twitter icon to x (#577)
  docs/mint.json
Due: pnpm prettier --ignore-path .gitignore --write

Complete Configu CLI - Upsert command (#570)
  packages/cli/src/commands/upsert.ts
  packages/cli/src/index.ts
  packages/common/src/index.ts
  packages/sdk/src/commands/UpsertCommand.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Complete Configu CLI - Login command (#565)
  packages/cli/package.json
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/login.ts
  packages/cli/src/helpers/index.ts
  packages/cli/src/helpers/utils.ts
  packages/cli/src/index.ts
  packages/common/src/ConfiguFile.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

testbed for configu integrations
  .gitignore
  packages/integrations/src/test-utils/index.ts
  packages/integrations/src/test-utils/mock-store.ts
  packages/integrations/src/test-utils/test-bed.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

revert gitignore
  .gitignore
Due: none

528 - Implement configu generate Command in @configu/cli #528
  packages/cli/src/commands/generate.ts
  packages/cli/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

better test utils interface
  packages/integrations/src/test-utils/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Add docs for `@configu-integrations/aws-secrets-manager` (#575)
  docs/images/store-examples/aws-secrets-manger/secrets-list.png
  docs/images/store-examples/aws-secrets-manger/upsert-result.png
  packages/integrations/stores/aws-secrets-manager/README.md
Due: pnpm prettier --ignore-path .gitignore --write

chore: initial rework of cli export command
  packages/cli/src/commands/export.ts
  packages/cli/src/index.ts
  packages/common/src/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feature/508-migrate-postgreSQLConfigStore initial commit for migration
  packages/integrations/stores/postgre-sql-config-store/package.json
  packages/integrations/stores/postgre-sql-config-store/src/postgre-sql-config-store.ts
  packages/integrations/stores/postgre-sql-config-store/tsconfig.json
  packages/integrations/stores/postgre-sql-config-store/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feature/508-migrate-postgreSQLConfigStore adding tsconfig.file
  packages/integrations/stores/postgre-sql-config-store/tsconfig.json
Due: pnpm prettier --ignore-path .gitignore --write

feature/508-migrate-postgreSQLConfigStore adding tsup.config.ts file
  packages/integrations/stores/postgre-sql-config-store/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feature/508-migrate-postgreSQLConfigStore correcting imports
  packages/integrations/stores/postgre-sql-config-store/src/postgre-sql-config-store.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: remove unneeded logs from sdk expression evaluation
  packages/sdk/src/utils/Expression.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: implement filter flag
  packages/cli/src/commands/export.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: finish export command
  packages/cli/src/commands/export.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

503 - compile scripts to compile the cli to each os
  .github/workflows/cd-cli.yml
  packages/cli/.gitignore
  packages/cli/compiler/darwin.ts
  packages/cli/compiler/index.ts
  packages/cli/compiler/linux.ts
  packages/cli/compiler/win32.ts
  packages/cli/package.json
  packages/cli/sea-config.json
  packages/common/src/Registry.ts
  packages/sdk/src/core/ConfigStore.ts
  packages/sdk/src/utils/Expression.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

define filename
  packages/cli/compiler/darwin.ts
  packages/cli/compiler/index.ts
  packages/cli/compiler/linux.ts
  packages/cli/compiler/win32.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: add react native guide
  docs/guides/react-native.mdx
  docs/mint.json
Due: pnpm prettier --ignore-path .gitignore --write

Path conditions:
  pnpm build --force: any of: packages/**/*.ts
  pnpm prettier --ignore-path .gitignore --write: (any of: *.{js,mjs,ts}) or (any of: *.{md,json,yaml})
  pnpm eslint --ignore-path .gitignore --cache --fix: any of: *.{js,mjs,ts}
