Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: update .cfgu page to reflect v1
  docs/interfaces/.cfgu.mdx
Due: none

docs: improve formatting and clarity in .cfgu documentation
  docs/interfaces/.cfgu.mdx
Due: none

docs: enhance clarity and formatting in .cfgu documentation
  docs/interfaces/.cfgu.mdx
Due: none

docs: restructure and enhance context descriptions in .cfgu documentation
  docs/interfaces/.cfgu.mdx
Due: none

docs: adjust contribution guide to new integrations structure
  CONTRIBUTING.md
Due: pnpm prettier --ignore-path .gitignore --write

docs: update .configu documentation to replace 'cache' with 'backup' terminology
  docs/interfaces/.configu.mdx
Due: none

docs: update .configu documentation to reference ConfigExpression for environment variables
  docs/interfaces/.configu.mdx
Due: none

docs: enhance introduction by detailing the use of Acron and SES for parsing and executing ConfigExpression strings
  docs/introduction/concepts.mdx
Due: none

docs: update hashicorp-vault guide to nest configuration keys under 'keys' object
  docs/guides/hashicorp-vault.mdx
Due: none

build with arch
  .github/workflows/cd-cli.yml
  packages/cli/compiler/index.ts
  packages/cli/install.sh
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

remove old configu
  packages/cli/install.sh
Due: none

docs: enhance ConfigExpression section with detailed usage and examples
  docs/introduction/concepts.mdx
Due: none

docs: update TypeDoc
  docs/interfaces/cli/overview.mdx
  docs/interfaces/sdk/browser/globals.mdx
  docs/interfaces/sdk/browser/overview.mdx
  docs/interfaces/sdk/common/globals.mdx
  docs/interfaces/sdk/common/overview.mdx
  docs/interfaces/sdk/integrations/globals.mdx
  docs/interfaces/sdk/integrations/overview.mdx
  docs/interfaces/sdk/lib/globals.mdx
  docs/interfaces/sdk/lib/overview.mdx
  docs/interfaces/sdk/node/globals.mdx
  docs/interfaces/sdk/overview.mdx
  docs/interfaces/sdk/sdk/globals.mdx
  docs/interfaces/sdk/sdk/overview.mdx
  docs/interfaces/sdk/ts/globals.mdx
  docs/interfaces/sdk/ts/overview.mdx
  docs/mint.json
  docs/prepare.mjs
  docs/typedoc.js
  packages/common/README.md
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: update proxy reference documentation to rename 'contents' to 'keys'
  docs/interfaces/proxy/ref.mdx
Due: none

docs: update proxy swagger image
  docs/images/proxy-docs-route.jpg
Due: none

exclude windows with arm
  .github/workflows/cd-cli.yml
Due: none

typo
  .github/workflows/cd-cli.yml
Due: none

ignore mac x64
  .github/workflows/cd-cli.yml
Due: none

fix arch
  .github/workflows/cd-cli.yml
Due: none

docs: update v1 migration guide to reflect property name changes
  docs/guides/v1-migration.mdx
Due: none

docs: enhance v1 migration guide with detailed examples for .cfgu file structure
  docs/guides/v1-migration.mdx
Due: none

docs: impl store readme doc generation
  docs/integrations/index.json
  docs/integrations/store/configu/overview.mdx
  docs/integrations/store/db/cockroachdb.mdx
  docs/integrations/store/db/mariadb.mdx
  docs/integrations/store/db/mssql.mdx
  docs/integrations/store/db/mysql.mdx
  docs/integrations/store/db/postgresql.mdx
  docs/integrations/store/ff/cloudbees-feature-management.mdx
  docs/integrations/store/ff/launchdarkly.mdx
  docs/integrations/store/ff/split.mdx
  docs/integrations/store/file/csv-file.mdx
  docs/integrations/store/file/ini-file.mdx
  docs/integrations/store/file/json-file.mdx
  docs/integrations/store/file/toml-file.mdx
  docs/integrations/store/file/xml-file.mdx
  docs/integrations/store/other/aws-parameter-store.mdx
  docs/integrations/store/other/localforage.mdx
  docs/integrations/store/secret/aws-secrets-manager.mdx
  docs/integrations/store/secret/azure-key-vault.mdx
  docs/integrations/store/secret/gcp-secret-manager.mdx
  docs/integrations/store/secret/hashicorp-vault.mdx
  docs/integrations/store/secret/kubernetes-secret.mdx
  docs/integrations/store/sqlite.mdx
  docs/mint.json
  docs/prepare.mjs
  docs/typedoc.js
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat: add sidebar title to Configu documentation and update overview files
  docs/integrations/index.json
  docs/integrations/store/configu/overview.mdx
  docs/prepare.mjs
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: add etcd integration documentation and update navigation
  docs/integrations/index.json
  docs/integrations/store/other/etcd.mdx
  docs/mint.json
Due: pnpm prettier --ignore-path .gitignore --write

ignore arch
  .github/workflows/cd-cli.yml
Due: none

install script with arch
  packages/cli/install.sh
Due: none

build for all archs
  packages/cli/compiler/darwin.ts
  packages/cli/compiler/index.ts
  packages/cli/compiler/linux.ts
  packages/cli/compiler/node-downloader.ts
  packages/cli/compiler/win32.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix windows compiler
  packages/cli/compiler/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix for windows
  packages/cli/compiler/node-downloader.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

node extractor
  packages/cli/compiler/node-downloader.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

node extractor 2
  packages/cli/compiler/node-downloader.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

windows executable finder
  packages/cli/compiler/node-downloader.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

view files list
  packages/cli/compiler/node-downloader.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix install version
  packages/cli/install.sh
Due: none

bug: fix status-code for store not found
  packages/proxy/src/error/not-found.ts
  packages/proxy/src/routes.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

debug-locally: add debug configuration for proxy (#653)
  .vscode/launch.json
Due: pnpm prettier --ignore-path .gitignore --write

fix: enable broken links check in documentation preparation script
  docs/prepare.mjs
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Path conditions:
  pnpm build --force: any of: packages/**/*.ts
  pnpm prettier --ignore-path .gitignore --write: (any of: *.{js,mjs,ts}) or (any of: *.{md,json,yaml})
  pnpm eslint --ignore-path .gitignore --cache --fix: any of: *.{js,mjs,ts}
