Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

complete proxy
  packages/proxy/src/index.ts
  packages/proxy/src/routes.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update packages/common/src/ConfiguFile.ts
  packages/common/src/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: update store instance retrieval to be asynchronous and refactor config directory handling
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/eval.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/test.ts
  packages/cli/src/commands/upsert.ts
  packages/cli/src/helpers/utils.ts
  packages/common/src/ConfiguFile.ts
  packages/proxy/src/routes.ts
  packages/sdk/src/ConfigStore.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: refactor config filtering logic to use evaluateBoolean for improved clarity
  packages/cli/src/commands/export.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: finalize evaluation in EvalCommand by adding .value() to ensure proper execution
  packages/sdk/src/commands/EvalCommand.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: update pattern validation to use storedValue instead of valueString
  packages/sdk/src/ConfigValue.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix recursive body schema
  packages/proxy/src/routes.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: ensure default format
  packages/cli/src/commands/export.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Add support for default store in new repo structure (#549)
  packages/common/src/ConfiguFile.ts
  packages/schema/.configu.json
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: enhance filtering logic in CliExportCommand to handle hidden configs
  packages/cli/src/commands/export.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: add label property on the root of expression context
  packages/sdk/src/ConfigValue.ts
  packages/sdk/src/commands/EvalCommand.ts
  packages/sdk/src/commands/UpsertCommand.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: update backup store instance method
  packages/cli/src/commands/base.ts
  packages/common/src/ConfiguFile.ts
  packages/proxy/src/routes.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: add missing deps for store integrations
  packages/integrations/stores/cockroach-db/package.json
  packages/integrations/stores/mariadb/package.json
  packages/integrations/stores/ms-sql/package.json
  packages/integrations/stores/my-sql/package.json
  packages/integrations/stores/postgresql/package.json
  packages/integrations/stores/sqlite/package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

next
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/export.ts
  packages/cli/src/commands/login.ts
  packages/cli/src/index.ts
  packages/common/package.json
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/ConfiguInterface.ts
  packages/common/src/index.ts
  packages/common/src/utils.ts
  packages/integrations/expressions/src/index.ts
  packages/sdk/package.json
  packages/sdk/src/ConfigExpression.ts
  packages/sdk/src/ConfigValue.ts
  packages/sdk/src/commands/EvalCommand.ts
  packages/sdk/src/commands/UpsertCommand.ts
  packages/sdk/src/expressions/Assertion.ts
  packages/sdk/src/expressions/Utils.ts
  packages/sdk/src/expressions/Validators.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Add missing dependencies for store integrations (#662)
  packages/integrations/stores/cockroach-db/package.json
  packages/integrations/stores/mariadb/package.json
  packages/integrations/stores/ms-sql/package.json
  packages/integrations/stores/my-sql/package.json
  packages/integrations/stores/postgresql/package.json
  packages/integrations/stores/sqlite/package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

refactor: clean up ConfigExpression class and improve initialization in ConfiguInterface
  packages/common/src/ConfiguInterface.ts
  packages/sdk/src/ConfigExpression.ts
  packages/sdk/src/expressions/Assertion.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat: add backup store update functionality in EvalCommand
  packages/cli/src/commands/eval.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: update proxy dependencies
  packages/proxy/package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

docs: mention CLI `.configu` auto-detection feature in migration guide
  docs/guides/v1-migration.mdx
Due: none

docs: update migration guide expression related info
  docs/guides/v1-migration.mdx
Due: none

docs: introduce type coercion feature in v1 migration guide
  docs/guides/v1-migration.mdx
Due: none

fix integrations bundle for different archs
  .github/actions/ts-env-action/action.yml
  .github/workflows/cd-configu-integrations.yml
  packages/integrations/expressions/validator/tsup.config.ts
  packages/integrations/formatters/CompactJSON/tsup.config.ts
  packages/integrations/formatters/Dotenv/tsup.config.ts
  packages/integrations/formatters/HelmValues/tsup.config.ts
  packages/integrations/formatters/JSON/tsup.config.ts
  packages/integrations/formatters/KubernetesConfigMap/tsup.config.ts
  packages/integrations/formatters/TOML/tsup.config.ts
  packages/integrations/formatters/TerraformTfvars/tsup.config.ts
  packages/integrations/formatters/YAML/tsup.config.ts
  packages/integrations/stores/aws-parameter-store/tsup.config.ts
  packages/integrations/stores/aws-secrets-manager/tsup.config.ts
  packages/integrations/stores/azure-key-vault/tsup.config.ts
  packages/integrations/stores/cloud-bees/tsup.config.ts
  packages/integrations/stores/cockroach-db/tsup.config.ts
  packages/integrations/stores/configu/tsup.config.ts
  packages/integrations/stores/csv-file/tsup.config.ts
  packages/integrations/stores/etcd/tsup.config.ts
  packages/integrations/stores/gcp-secret-manager-config-store/tsup.config.ts
  packages/integrations/stores/hashicorp-vault/tsup.config.ts
  packages/integrations/stores/ini-file/tsup.config.ts
  packages/integrations/stores/json-file/tsup.config.ts
  packages/integrations/stores/key-v/tsup.config.ts
  packages/integrations/stores/kubernetes-secret-store/tsup.config.ts
  packages/integrations/stores/launch-darkly/tsup.config.ts
  packages/integrations/stores/localforage/tsup.config.ts
  packages/integrations/stores/mariadb/tsup.config.ts
  packages/integrations/stores/ms-sql/tsup.config.ts
  packages/integrations/stores/my-sql/tsup.config.ts
  packages/integrations/stores/postgresql/tsup.config.ts
  packages/integrations/stores/split/tsup.config.ts
  packages/integrations/stores/sqlite/tsup.config.ts
  packages/integrations/stores/toml-file/tsup.config.ts
  packages/integrations/stores/xml-file/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix
  .github/workflows/cd-configu-integrations.yml
Due: none

fixes and alignment
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/eval.ts
  packages/cli/src/commands/export.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/commands/test.ts
  packages/cli/src/commands/upsert.ts
  packages/cli/src/index.ts
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/ConfiguInterface.ts
  packages/common/src/index.ts
  packages/common/src/utils.ts
  packages/proxy/src/index.ts
  packages/proxy/src/routes.ts
  packages/sdk/src/Cfgu.ts
  packages/sdk/src/ConfigStore.ts
  packages/sdk/src/commands/EvalCommand.ts
  packages/sdk/src/expressions/Assertion.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

rename after build
  .github/workflows/cd-configu-integrations.yml
  package.json
  packages/integrations/package.json
  packages/integrations/src/bundler/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

remote registry using arch
  packages/cli/src/integration_template/tsup.config.ts
  packages/common/src/Registry.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: add CLI default store and eval command defaults flag sections to migration guide
  docs/guides/v1-migration.mdx
Due: none

docs: update CLI upsert command flags and remove import flag for clarity
  docs/guides/v1-migration.mdx
Due: none

fix integrations bundle for different archs (#663)
  .github/actions/ts-env-action/action.yml
  .github/workflows/cd-configu-integrations.yml
  package.json
  packages/cli/src/integration_template/tsup.config.ts
  packages/common/src/Registry.ts
  packages/integrations/expressions/validator/tsup.config.ts
  packages/integrations/formatters/CompactJSON/tsup.config.ts
  packages/integrations/formatters/Dotenv/tsup.config.ts
  packages/integrations/formatters/HelmValues/tsup.config.ts
  packages/integrations/formatters/JSON/tsup.config.ts
  packages/integrations/formatters/KubernetesConfigMap/tsup.config.ts
  packages/integrations/formatters/TOML/tsup.config.ts
  packages/integrations/formatters/TerraformTfvars/tsup.config.ts
  packages/integrations/formatters/YAML/tsup.config.ts
  packages/integrations/package.json
  packages/integrations/src/bundler/index.ts
  packages/integrations/stores/aws-parameter-store/tsup.config.ts
  packages/integrations/stores/aws-secrets-manager/tsup.config.ts
  packages/integrations/stores/azure-key-vault/tsup.config.ts
  packages/integrations/stores/cloud-bees/tsup.config.ts
  packages/integrations/stores/cockroach-db/tsup.config.ts
  packages/integrations/stores/configu/tsup.config.ts
  packages/integrations/stores/csv-file/tsup.config.ts
  packages/integrations/stores/etcd/tsup.config.ts
  packages/integrations/stores/gcp-secret-manager-config-store/tsup.config.ts
  packages/integrations/stores/hashicorp-vault/tsup.config.ts
  packages/integrations/stores/ini-file/tsup.config.ts
  packages/integrations/stores/json-file/tsup.config.ts
  packages/integrations/stores/key-v/tsup.config.ts
  packages/integrations/stores/kubernetes-secret-store/tsup.config.ts
  packages/integrations/stores/launch-darkly/tsup.config.ts
  packages/integrations/stores/localforage/tsup.config.ts
  packages/integrations/stores/mariadb/tsup.config.ts
  packages/integrations/stores/ms-sql/tsup.config.ts
  packages/integrations/stores/my-sql/tsup.config.ts
  packages/integrations/stores/postgresql/tsup.config.ts
  packages/integrations/stores/split/tsup.config.ts
  packages/integrations/stores/sqlite/tsup.config.ts
  packages/integrations/stores/toml-file/tsup.config.ts
  packages/integrations/stores/xml-file/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: update CLI command flags for clarity and remove deprecated flags
  docs/guides/v1-migration.mdx
Due: none

docs: update filter syntax examples in v1 migration guide for clarity
  docs/guides/v1-migration.mdx
Due: none

docs: update export command flags section for clarity and remove deprecated flags
  docs/guides/v1-migration.mdx
Due: none

wip
  .github/workflows/cd-cli.yml
Due: none

deploy cli to dockerhub
  .github/workflows/cd-cli.yml
Due: none

test version
  .github/workflows/cd-cli.yml
Due: none

test release install and exec
  .github/workflows/cd-cli.yml
  packages/cli/.gitignore
  packages/cli/compiler/test/installation.test.ts
  packages/cli/package.json
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

windows executable finder
  packages/cli/compiler/node-downloader.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

typo
  .github/workflows/cd-cli.yml
Due: none

fix order
  .github/workflows/cd-cli.yml
Due: none

Path conditions:
  pnpm build --force: any of: packages/**/*.ts
  pnpm prettier --ignore-path .gitignore --write: (any of: *.{js,mjs,ts}) or (any of: *.{md,json,yaml})
  pnpm eslint --ignore-path .gitignore --cache --fix: any of: *.{js,mjs,ts}
