Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Complete Configu CLI - Export command (#568)
  packages/cli/package.json
  packages/cli/src/commands/export.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/index.ts
  packages/common/src/ConfiguFile.ts
  packages/sdk/src/utils/Expression.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Add docs for `@configu-integrations/my-sql` (#611)
  packages/integrations/stores/my-sql/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Migrate XmlFileConfigStore to @configu/integrations (issue 524) (#530)
  packages/integrations/stores/xml-file/package.json
  packages/integrations/stores/xml-file/src/xml-file.ts
  packages/integrations/stores/xml-file/tsconfig.json
  packages/integrations/stores/xml-file/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs(concepts): update links to core types (#612)
  docs/introduction/concepts.mdx
Due: none

Updated README.md for configu-integrations/mssql-config-store
  docs/integrations/store/db/mssql.mdx
Due: none

Formatted the document maintaining similar structure
  packages/integrations/stores/ms-sql/README.md
Due: pnpm prettier --ignore-path .gitignore --write

feature/519-migrate-launchdarkly-configstore using ConfigQuery
  packages/integrations/stores/launch-darkly/src/launch-darkly.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update README.md
  packages/integrations/stores/cockroach-db/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Add docs for `@configu-integrations/cockroach-db` (#616)
  packages/integrations/stores/cockroach-db/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Documented KubernetesSecretConfigStore
  packages/integrations/stores/kubernetes-secret-store/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  packages/integrations/stores/ms-sql/README.md
Due: pnpm prettier --ignore-path .gitignore --write

tried updating and made small changes
  packages/integrations/stores/ms-sql/README.md
Due: pnpm prettier --ignore-path .gitignore --write

revised the doc
  packages/integrations/stores/kubernetes-secret-store/README.md
Due: pnpm prettier --ignore-path .gitignore --write

feature/519-migrate-launchdarkly-configstore updating lock file
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

feature/519-migrate-launchdarkly-configstore adding README
  packages/integrations/stores/launch-darkly/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Documented cloud-bees-config-store
  packages/integrations/stores/cloud-bees/README.md
Due: pnpm prettier --ignore-path .gitignore --write

feature/519-migrate-launchdarkly-configstore adding src file to package.json
  packages/integrations/stores/launch-darkly/package.json
Due: pnpm prettier --ignore-path .gitignore --write

Update mssql.mdx
  docs/integrations/store/db/mssql.mdx
Due: none

Add docs for `@configu-integrations/ms-sql` (#614)
  packages/integrations/stores/ms-sql/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  packages/integrations/stores/kubernetes-secret-store/README.md
Due: pnpm prettier --ignore-path .gitignore --write

undo diff
  docs/integrations/store/db/mssql.mdx
  packages/integrations/stores/ms-sql/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Add docs for `@configu-integrations/kubernetes-secret-store` (#618)
  packages/integrations/stores/kubernetes-secret-store/README.md
Due: pnpm prettier --ignore-path .gitignore --write

added azure-key-vault doc with same structure
  packages/integrations/stores/azure-key-vault/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Migrated `IniFileConfigStore` to `@configu/integrations`
  packages/integrations/stores/ini-file/package.json
  packages/integrations/stores/ini-file/src/ini.ts
  packages/integrations/stores/ini-file/tsconfig.json
  packages/integrations/stores/ini-file/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

@configu-integration/split-config-store doc update README.md
  packages/integrations/stores/split/README.md
Due: pnpm prettier --ignore-path .gitignore --write

feature/519-migrate-launchdarkly-configstore using lodash-es
  packages/integrations/stores/launch-darkly/package.json
  packages/integrations/stores/launch-darkly/src/launch-darkly.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feature/519-migrate-launchdarkly-configstore updating readme file
  packages/integrations/stores/launch-darkly/README.md
Due: pnpm prettier --ignore-path .gitignore --write

@configu-integration/etcd-config-store doc update README.md
  packages/integrations/stores/etcd/README.md
Due: pnpm prettier --ignore-path .gitignore --write

@configu-integrations/hashi-corp-vault-config-store
  packages/integrations/stores/hashicorp-vault/README.md
Due: pnpm prettier --ignore-path .gitignore --write

@configu-integrations/localforage-config-store
  packages/integrations/stores/localforage/README.md
Due: pnpm prettier --ignore-path .gitignore --write

@configu-integrations/key-config-store
  packages/integrations/stores/key-v/README.md
Due: pnpm prettier --ignore-path .gitignore --write

@configu-integrations/gcp-secret-manager-config-store
  packages/integrations/stores/gcp-secret-manager-config-store/README.md
Due: pnpm prettier --ignore-path .gitignore --write

@configu-integrations/cloud-bees-config-store
  packages/integrations/stores/cloud-bees/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Create README.md for MariaDBConfigStore
  packages/integrations/stores/mariadb/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Path conditions:
  pnpm build --force: any of: packages/**/*.ts
  pnpm prettier --ignore-path .gitignore --write: (any of: *.{js,mjs,ts}) or (any of: *.{md,json,yaml})
  pnpm eslint --ignore-path .gitignore --cache --fix: any of: *.{js,mjs,ts}
