Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat: impl dark theme switch
  ts/packages/ui/src/components/Icons.tsx
  ts/packages/ui/src/components/Switch.tsx
Due: none

chore: adjust dark theme switch
  ts/packages/ui/src/components/Switch.tsx
Due: none

fix: checkbox dark theme design
  ts/packages/ui/src/components/Checkbox.tsx
Due: none

chore: adjust button for icon only situations
  ts/packages/ui/src/components/Button.tsx
Due: none

chore: add dm sans font
  ts/packages/ui/src/components/Button.tsx
  ts/packages/ui/src/components/Typography.tsx
  ts/packages/ui/src/globals.css
  ts/packages/ui/tailwind.config.ts
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

refactor: add tailwind prettier plugin
  ts/.prettierrc
  ts/package-lock.json
  ts/package.json
  ts/packages/ui/components.json
  ts/packages/ui/src/components/AppContainer.tsx
  ts/packages/ui/src/components/Checkbox.tsx
  ts/packages/ui/src/components/Dropdown.tsx
  ts/packages/ui/src/components/Input.tsx
  ts/packages/ui/src/components/LayoutSwitch.tsx
  ts/packages/ui/src/components/Switch.tsx
Due: pnpm prettier --ignore-path .gitignore --write

feat: impl code snippet component
  ts/packages/ui/package.json
  ts/packages/ui/src/components/CodeSnippet.tsx
  ts/packages/ui/src/components/index.tsx
  ts/packages/ui/src/globals.css
Due: pnpm prettier --ignore-path .gitignore --write

chore: adjust pkg json
  ts/package-lock.json
Due: pnpm prettier --ignore-path .gitignore --write

chore: add more icons
  ts/packages/ui/src/components/Icons.tsx
Due: none

chore: add database icon
  ts/packages/ui/src/components/Icons.tsx
Due: none

chore: add logos
  ts/packages/ui/src/components/Icons.tsx
Due: none

chore: add icons
  ts/packages/ui/src/components/Icons.tsx
Due: none

chore: icons
  ts/packages/ui/src/components/Icons.tsx
Due: none

fix: tag icon
  ts/packages/ui/src/components/Icons.tsx
Due: none

chore: adjust tailwind config
  ts/packages/ui/tailwind.config.ts
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: add overflow hidden to app container
  ts/packages/ui/src/components/AppContainer.tsx
Due: none

chore: add overflow hidden to container comps
  ts/packages/ui/src/components/AppContainer.tsx
Due: none

ref docs
  docs/integrations/index.json
  docs/integrations/store/configu/config-history.mdx
  docs/interfaces/cli/overview.mdx
  docs/interfaces/cli/ref.mdx
  docs/interfaces/sdk/browser/globals.mdx
  docs/interfaces/sdk/browser/overview.mdx
  docs/interfaces/sdk/lib/globals.mdx
  docs/interfaces/sdk/lib/overview.mdx
  docs/interfaces/sdk/node/globals.mdx
  docs/interfaces/sdk/node/overview.mdx
  docs/interfaces/sdk/overview.mdx
  docs/interfaces/sdk/ts/globals.mdx
  docs/interfaces/sdk/ts/overview.mdx
  docs/introduction/overview.mdx
  docs/mint.json
  docs/package.json
  docs/prepare.mjs
  docs/snippets/index.mdx
  docs/typedoc.base.js
  docs/typedoc.js
  package.json
  packages/browser/README.md
  packages/browser/typedoc.js
  packages/cli/README.md
  packages/cli/manifest.tmpl.md
  packages/cli/pack.mjs
  packages/cli/package.json
  packages/cli/ref.mjs
  packages/lib/typedoc.js
  packages/node/README.md
  packages/node/typedoc.js
  packages/ts/typedoc.js
  pnpm-lock.yaml
  typedoc.js
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix cd
  .github/workflows/cd-cli.yml
  .github/workflows/cd-lib.yml
  .github/workflows/cd-ts.yml
  .github/workflows/ci-ts.yml
  packages/browser/package.json
  packages/lib/package.json
  packages/node/package.json
  packages/ts/package.json
Due: pnpm prettier --ignore-path .gitignore --write

remove turbo for now
  .gitignore
  package.json
  turbo.json
Due: pnpm prettier --ignore-path .gitignore --write

fix .node-version
  .node-version
Due: none

fix lockfile
  docs/interfaces/cli/overview.mdx
  docs/interfaces/cli/ref.mdx
  docs/interfaces/sdk/browser/globals.mdx
  docs/interfaces/sdk/browser/overview.mdx
  docs/interfaces/sdk/lib/globals.mdx
  docs/interfaces/sdk/lib/overview.mdx
  docs/interfaces/sdk/node/globals.mdx
  docs/interfaces/sdk/node/overview.mdx
  docs/interfaces/sdk/overview.mdx
  docs/interfaces/sdk/ts/globals.mdx
  docs/interfaces/sdk/ts/overview.mdx
  docs/prepare.mjs
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fixes
  docs/package.json
  docs/prepare.mjs
  docs/snippets/callouts.mdx
  docs/snippets/integration.mdx
  docs/typedoc.js
  package.json
  packages/browser/bundle.mjs
  packages/browser/package.json
  packages/cli/pack.mjs
  packages/cli/package.json
  packages/cli/ref.mjs
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

devcontainer
  .devcontainer/Dockerfile
  .devcontainer/bootstrap.sh
  .devcontainer/devcontainer.json
  .github/dependabot.yml
Due: pnpm prettier --ignore-path .gitignore --write

Update devcontainer.json
  .devcontainer/devcontainer.json
Due: pnpm prettier --ignore-path .gitignore --write

devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: pnpm prettier --ignore-path .gitignore --write

Update Dockerfile
  .devcontainer/Dockerfile
Due: none

devcontainer
  .devcontainer/Dockerfile
  .gitignore
Due: none

ignore format mdx
  .lintstagedrc
  docs/interfaces/cli/overview.mdx
  docs/interfaces/cli/ref.mdx
  docs/interfaces/sdk/browser/globals.mdx
  docs/interfaces/sdk/browser/overview.mdx
  docs/interfaces/sdk/lib/globals.mdx
  docs/interfaces/sdk/lib/overview.mdx
  docs/interfaces/sdk/node/globals.mdx
  docs/interfaces/sdk/node/overview.mdx
  docs/interfaces/sdk/overview.mdx
  docs/interfaces/sdk/ts/globals.mdx
  docs/interfaces/sdk/ts/overview.mdx
  docs/prepare.mjs
  docs/snippets/index.mdx
  docs/typedoc.base.js
  docs/typedoc.js
  package.json
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

format and lint
  .github/CODE_OF_CONDUCT.md
  .github/configs/cli-release-drafter.yml
  .github/configs/labeler.yml
  .github/configs/lib-release-drafter.yml
  .github/configs/ts-release-drafter.yml
  .github/dependabot.yml
  .lintstagedrc
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  CONTRIBUTING.md
  README.md
  cspell.json
  examples/hello-world/README.md
  examples/hello-world/index.js
  examples/terraform/README.md
  packages/browser/tsconfig.json
  packages/cli/bin/dev.js
  packages/cli/bin/run.js
  packages/cli/src/base.ts
  packages/cli/src/helpers/index.ts
  packages/cli/tsconfig.json
  packages/lib/tsconfig.json
  packages/node/tsconfig.json
  packages/ts/src/types/generated.ts
  packages/ts/tsconfig.json
  tsconfig.build.json
  types/ConfigSchema.ts
  types/ConfigStore.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Path conditions:
  pnpm build --force: any of: packages/**/*.ts
  pnpm prettier --ignore-path .gitignore --write: (any of: *.{js,mjs,ts}) or (any of: *.{md,mdx,json})
  pnpm eslint --ignore-path .gitignore --cache --fix: any of: *.{js,mjs,ts}
