Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

enablers
  examples/playground/.configu
  examples/playground/test.cfgu.yaml
  package.json
  packages/common/package.json
  packages/common/src/ConfiguFile.ts
  packages/common/src/utils/GitTemplate.ts
  patches/giget.patch
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

ConfiguModule (#699)
  .vscode/launch.json
  examples/playground/.configu
  examples/playground/test.cfgu.yaml
  package.json
  packages/cli/package.json
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/eval.ts
  packages/cli/src/commands/export.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/upsert.ts
  packages/cli/src/helpers/configExtractor.ts
  packages/common/package.json
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/ConfiguInterface.ts
  packages/common/src/ConfiguModule.ts
  packages/common/src/builtins.ts
  packages/common/src/utils.ts
  packages/common/src/utils/GitTemplate.ts
  packages/formatters/package.json
  packages/proxy/src/routes.ts
  packages/schema/build.mts
  packages/sdk/package.json
  packages/sdk/src/ConfigKey.ts
  packages/sdk/src/index.ts
  packages/sdk/tsup.config.ts
  packages/stores/configu/src/index.ts
  packages/stores/database/src/index.ts
  packages/stores/file/src/index.ts
  packages/stores/ini-file/src/index.ts
  packages/stores/key-value/src/index.ts
  packages/stores/launch-darkly/src/index.ts
  packages/stores/toml-file/src/index.ts
  patches/giget.patch
  patches/npm.patch
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

proxy
  packages/proxy/Dockerfile
  packages/proxy/package.json
  packages/proxy/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Moved the helper function to be closer to the test function
  packages/proxy/src/__tests__/proxy.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Updated test .cfgu file to use the new format
  packages/proxy/src/__tests__/start.cfgu.json
Due: pnpm prettier --ignore-path .gitignore --write

Fixed issue with events to received with incorrect format
  packages/proxy/src/__tests__/proxy.test.ts
  packages/proxy/src/routes.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Updated the response body to hold the response object as data rather than a stringified version
  packages/proxy/src/__tests__/proxy.test.ts
  packages/proxy/src/routes.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Use regex to remove the 'data:' prefix from the string, leaving a valid JSON
  packages/proxy/src/__tests__/proxy.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Enable SSE at @configu/proxy (#697)
  packages/proxy/package.json
  packages/proxy/src/__tests__/.configu
  packages/proxy/src/__tests__/configs.json
  packages/proxy/src/__tests__/proxy.test.ts
  packages/proxy/src/__tests__/schema.json
  packages/proxy/src/__tests__/start.cfgu.json
  packages/proxy/src/fastify.d.ts
  packages/proxy/src/index.ts
  packages/proxy/src/routes.ts
  packages/proxy/src/server.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Focus Set - Add Docs #703
  docs/images/configs-explorer/configs-filters.png
  docs/images/configs-explorer/focus-set.png
  docs/images/configs-explorer/focused-set-breadcrumbs.png
  docs/images/configs-explorer/platform-configs-explorer-sets.png
  docs/images/configs-explorer/sets-graph-menu.png
  docs/integrations/store/configu/config-explorer.mdx
Due: none

Focus Set - Add Docs #703 (#704)
  docs/images/configs-explorer/configs-filters.png
  docs/images/configs-explorer/focus-set.png
  docs/images/configs-explorer/focused-set-breadcrumbs.png
  docs/images/configs-explorer/platform-configs-explorer-sets.png
  docs/images/configs-explorer/sets-graph-menu.png
  docs/integrations/store/configu/config-explorer.mdx
Due: none

feat: add docs for global eval
  docs/images/configs-explorer/configs-explorer-eval-configs-cta.png
  docs/images/configs-explorer/configs-explorer-eval-configs-graph-eval-set.png
  docs/images/configs-explorer/configs-explorer-eval-configs-grid-eval-set.png
  docs/images/configs-explorer/configs-explorer-eval-configs.png
  docs/images/configs-explorer/configs-filters.png
  docs/images/configs-explorer/focus-set.png
  docs/images/configs-explorer/focused-set-breadcrumbs.png
  docs/images/configs-explorer/platform-configs-explorer-configs.png
  docs/images/configs-explorer/platform-configs-explorer-grid.png
  docs/images/configs-explorer/platform-configs-explorer-sets.png
  docs/images/configs-explorer/sets-graph-menu.png
  docs/integrations/store/configu/config-explorer.mdx
Due: none

docs: rename Eval Configs modal to Config Set Exporter
  docs/integrations/store/configu/config-explorer.mdx
Due: none

Add documentation for the `Global Eval` feature (#706)
  docs/images/configs-explorer/configs-explorer-eval-configs-cta.png
  docs/images/configs-explorer/configs-explorer-eval-configs-graph-eval-set.png
  docs/images/configs-explorer/configs-explorer-eval-configs-grid-eval-set.png
  docs/images/configs-explorer/configs-explorer-eval-configs.png
  docs/images/configs-explorer/configs-filters.png
  docs/images/configs-explorer/focus-set.png
  docs/images/configs-explorer/focused-set-breadcrumbs.png
  docs/images/configs-explorer/platform-configs-explorer-configs.png
  docs/images/configs-explorer/platform-configs-explorer-grid.png
  docs/images/configs-explorer/platform-configs-explorer-sets.png
  docs/images/configs-explorer/sets-graph-menu.png
  docs/integrations/store/configu/config-explorer.mdx
Due: none

Update split.mdx
  docs/integrations/store/ff/split.mdx
Due: none

Fix Split documentation broken link (#707)
  docs/integrations/store/ff/split.mdx
Due: none

Revert "Enable SSE at @configu/proxy (#697)"
  packages/proxy/package.json
  packages/proxy/src/__tests__/.configu
  packages/proxy/src/__tests__/configs.json
  packages/proxy/src/__tests__/proxy.test.ts
  packages/proxy/src/__tests__/schema.json
  packages/proxy/src/__tests__/start.cfgu.json
  packages/proxy/src/fastify.d.ts
  packages/proxy/src/index.ts
  packages/proxy/src/routes.ts
  packages/proxy/src/server.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Revert "Enable SSE at @configu/proxy" (#711)
  packages/proxy/package.json
  packages/proxy/src/__tests__/.configu
  packages/proxy/src/__tests__/configs.json
  packages/proxy/src/__tests__/proxy.test.ts
  packages/proxy/src/__tests__/schema.json
  packages/proxy/src/__tests__/start.cfgu.json
  packages/proxy/src/fastify.d.ts
  packages/proxy/src/index.ts
  packages/proxy/src/routes.ts
  packages/proxy/src/server.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix cd
  .github/actions/get-release-action/action.yml
  .github/actions/ts-env-action/action.yml
  .github/workflows/cd-cli.yml
  .github/workflows/cd-store.yml
  .github/workflows/ci-ts.yml
  .syncpackrc.js
  .vscode/launch.json
  packages/common/src/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix build
  examples/hello-world/README.md
  package.json
  packages/cli/install.ps1
  packages/cli/install.sh
  packages/cli/src/commands/upsert.ts
  packages/common/package.json
  packages/common/src/builtins.ts
  packages/common/src/utils/Http.ts
  packages/stores/configu-platform/README.md
  packages/stores/configu-platform/package.json
  packages/stores/configu-platform/src/index.ts
  packages/stores/configu-platform/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fixes
  .vscode/settings.json
  packages/cli/package.json
  packages/cli/src/commands/setup.ts
  packages/common/src/ConfiguInterface.ts
  packages/proxy/package.json
  packages/proxy/src/index.ts
  packages/sdk/src/expressions/JSONSchema.ts
  tsup.config.js
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix cd
  .github/workflows/cd-cli.yml
  .github/workflows/cd-ts.yml
Due: none

improve cd and align docker files
  .github/actions/ts-env-action/action.yml
  .github/workflows/cd-cli.yml
  packages/cli/Dockerfile
  packages/common/src/ConfiguInterface.ts
  packages/proxy/Dockerfile
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix corepack problem inside docker
  .devcontainer/Dockerfile
  packages/cli/Dockerfile
  packages/proxy/Dockerfile
Due: none

fix cd s3 uri & node version for docker
  .github/actions/ts-env-action/action.yml
  .github/workflows/cd-cli.yml
Due: none

Update cd-cli.yml
  .github/workflows/cd-cli.yml
Due: none

fix cli build & fix cli dockerfile
  .github/workflows/cd-cli.yml
  package.json
  packages/cli/Dockerfile
  packages/common/package.json
  patches/@npmcli__run-script.patch
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

fixes
  .github/configs/labeler.yml
  .github/workflows/cd-cli.yml
  package.json
  packages/cli/Dockerfile
  packages/cli/install.ps1
  packages/cli/install.sh
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/setup.ts
  packages/common/package.json
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguInterface.ts
  packages/common/src/ConfiguModule.ts
  packages/common/src/utils/Misc.ts
  packages/proxy/Dockerfile
  prepare.mts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

pdate documentation the new Upsert dialog in Configu - #713
  docs/images/configs-explorer/configs-explorer-upsert-configs-wizard-assign-values.png
  docs/images/configs-explorer/configs-explorer-upsert-configs-wizard-button.png
  docs/images/configs-explorer/configs-explorer-upsert-configs-wizard-select-key.png
  docs/images/configs-explorer/configs-explorer-upsert-configs-wizard-summary.png
Due: none

Update documentation the new Upsert dialog in Configu - #713 (#714)
  docs/images/configs-explorer/configs-explorer-upsert-configs-wizard-assign-values.png
  docs/images/configs-explorer/configs-explorer-upsert-configs-wizard-button.png
  docs/images/configs-explorer/configs-explorer-upsert-configs-wizard-select-key.png
  docs/images/configs-explorer/configs-explorer-upsert-configs-wizard-summary.png
Due: none

fix setup command and install scripts
  packages/cli/install.ps1
  packages/cli/install.sh
  packages/cli/src/commands/setup.ts
  packages/cli/src/utils.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

CR fixes
  packages/cli/src/commands/setup.ts
  packages/common/src/utils/Http.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix schemas
  packages/schema/.cfgu.json
  packages/schema/.configu.json
Due: pnpm prettier --ignore-path .gitignore --write

Path conditions:
  pnpm build --force: any of: packages/**/*.ts
  pnpm prettier --ignore-path .gitignore --write: (any of: *.{js,mjs,ts}) or (any of: *.{md,json,yaml})
  pnpm eslint --ignore-path .gitignore --cache --fix: any of: *.{js,mjs,ts}
