Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

ci for integrations to test build step on PRs (#537)
  .github/workflows/ci-integrations.yml
Due: none

Add lodash-es dep
  packages/integrations/stores/toml-file/package.json
  packages/integrations/stores/toml-file/src/toml-file.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Refactored Cockroachdb store configuration
  packages/integrations/stores/cockroach-db/package.json
  packages/integrations/stores/cockroach-db/src/cockroach-db.ts
  packages/integrations/stores/cockroach-db/tsconfig.json
  packages/integrations/stores/cockroach-db/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Revert "Refactored Cockroachdb store configuration"
  packages/integrations/stores/cockroach-db/package.json
  packages/integrations/stores/cockroach-db/src/cockroach-db.ts
  packages/integrations/stores/cockroach-db/tsconfig.json
  packages/integrations/stores/cockroach-db/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Migrated Azure Key Vault to configu integration
  packages/integrations/stores/azure-key-vault/package.json
  packages/integrations/stores/azure-key-vault/src/azure-key-vault.ts
  packages/integrations/stores/azure-key-vault/tsconfig.json
  packages/integrations/stores/azure-key-vault/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: fix contributing guide local env section
  CONTRIBUTING.md
Due: pnpm prettier --ignore-path .gitignore --write

Key value path fixed
  packages/integrations/stores/azure-key-vault/src/azure-key-vault.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

typeorm added to the dependency
  packages/integrations/stores/cockroach-db/package.json
Due: pnpm prettier --ignore-path .gitignore --write

Import path fixed
  packages/integrations/stores/cockroach-db/src/cockroach-db.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix name in json
  packages/integrations/stores/gcp-secret-manager-config-store/package.json
Due: pnpm prettier --ignore-path .gitignore --write

Add CloudBeesConfigStore to @configu/integrations
  packages/integrations/src/utils/OpenFeature.ts
  packages/integrations/stores/cloud-bees/package.json
  packages/integrations/stores/cloud-bees/src/cloud-bees.ts
  packages/integrations/stores/cloud-bees/tsconfig.json
  packages/integrations/stores/cloud-bees/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Add AWSSecretsManagerConfigStore to @configu/integrations
  packages/integrations/stores/aws-secrets-manager/package.json
  packages/integrations/stores/aws-secrets-manager/src/aws-secrets-manager.ts
  packages/integrations/stores/aws-secrets-manager/tsconfig.json
  packages/integrations/stores/aws-secrets-manager/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

guide developers ro use pnpm on local development
  CONTRIBUTING.md
Due: pnpm prettier --ignore-path .gitignore --write

feat: reintroduce test command
  packages/cli/src/commands/test.ts
  packages/cli/src/index.ts
  packages/sdk/src/commands/TestCommand.ts
  packages/sdk/src/commands/index.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat: reintroduce run command
  packages/cli/src/commands/run.ts
  packages/cli/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Add lodash-es dep
  packages/integrations/stores/kubernetes-secret-store/src/kubernetes.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat(intergation): add etcd to @configu/integrations
  package-lock.json
  packages/integrations/stores/etcd/src/etcd.ts
  packages/integrations/stores/etcd/tsconfig.json
  packages/integrations/stores/etcd/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat(integration): add package.json
  packages/integrations/stores/etcd/package.json
Due: pnpm prettier --ignore-path .gitignore --write

Fixed using the simple way suggested
  packages/cli/tsup.config.ts
  packages/integrations/expressions/validator/tsup.config.ts
  packages/integrations/formatters/CompactJSON/tsup.config.ts
  packages/integrations/formatters/Dotenv/tsup.config.ts
  packages/integrations/formatters/HelmValues/tsup.config.ts
  packages/integrations/formatters/JSON/tsup.config.ts
  packages/integrations/formatters/KubernetesConfigMap/tsup.config.ts
  packages/integrations/formatters/TOML/tsup.config.ts
  packages/integrations/formatters/TerraformTfvars/tsup.config.ts
  packages/integrations/formatters/YAML/tsup.config.ts
  packages/integrations/stores/configu/tsup.config.ts
  packages/integrations/stores/csv-file/tsup.config.ts
  packages/integrations/stores/hashicorp-vault/tsup.config.ts
  packages/integrations/stores/json-file/tsup.config.ts
  packages/integrations/stores/my-sql/tsup.config.ts
  packages/integrations/stores/sqlite/tsup.config.ts
  packages/sdk/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update tsup.config.ts
  packages/sdk/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Fixed lock file for the checks to pass
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

i Migrated MSSQLConfigStore to @configu/integrations #520
  packages/integrations/stores/ms-sql/package.json
  packages/integrations/stores/ms-sql/src/ms-sql.ts
  packages/integrations/stores/ms-sql/tsconfig.json
  packages/integrations/stores/ms-sql/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Fix contributing guide local development section (#544)
  CONTRIBUTING.md
Due: pnpm prettier --ignore-path .gitignore --write

Migrate CockroachDBConfigStore to @configu/integrations (#539)
  packages/integrations/stores/cockroach-db/package.json
  packages/integrations/stores/cockroach-db/src/cockroach-db.ts
  packages/integrations/stores/cockroach-db/tsconfig.json
  packages/integrations/stores/cockroach-db/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Migrate AzureKeyVaultConfigStore to @configu/integrations (#540)
  packages/integrations/stores/azure-key-vault/package.json
  packages/integrations/stores/azure-key-vault/src/azure-key-vault.ts
  packages/integrations/stores/azure-key-vault/tsconfig.json
  packages/integrations/stores/azure-key-vault/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Migrate TomlFileConfigStore to @configu/integrations (#531)
  packages/integrations/stores/toml-file/package.json
  packages/integrations/stores/toml-file/src/toml-file.ts
  packages/integrations/stores/toml-file/tsconfig.json
  packages/integrations/stores/toml-file/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

remove: unused files
  package-lock.json
Due: pnpm prettier --ignore-path .gitignore --write

Fixed using the simple way suggested (#547)
  packages/cli/tsup.config.ts
  packages/integrations/expressions/validator/tsup.config.ts
  packages/integrations/formatters/CompactJSON/tsup.config.ts
  packages/integrations/formatters/Dotenv/tsup.config.ts
  packages/integrations/formatters/HelmValues/tsup.config.ts
  packages/integrations/formatters/JSON/tsup.config.ts
  packages/integrations/formatters/KubernetesConfigMap/tsup.config.ts
  packages/integrations/formatters/TOML/tsup.config.ts
  packages/integrations/formatters/TerraformTfvars/tsup.config.ts
  packages/integrations/formatters/YAML/tsup.config.ts
  packages/integrations/stores/configu/tsup.config.ts
  packages/integrations/stores/csv-file/tsup.config.ts
  packages/integrations/stores/hashicorp-vault/tsup.config.ts
  packages/integrations/stores/json-file/tsup.config.ts
  packages/integrations/stores/my-sql/tsup.config.ts
  packages/integrations/stores/sqlite/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Add CloudBeesConfigStore to @configu/integrations (#542)
  packages/integrations/src/utils/OpenFeature.ts
  packages/integrations/stores/cloud-bees/package.json
  packages/integrations/stores/cloud-bees/src/cloud-bees.ts
  packages/integrations/stores/cloud-bees/tsconfig.json
  packages/integrations/stores/cloud-bees/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

initial load of integrations that are included inside the cli and proxy
  packages/common/package.json
  packages/common/src/Registry.ts
  packages/common/src/built-in-integrations.ts
  packages/common/src/index.ts
  packages/integrations/expressions/validator/package.json
  packages/integrations/formatters/CompactJSON/package.json
  packages/integrations/formatters/Dotenv/package.json
  packages/integrations/formatters/JSON/package.json
  packages/integrations/formatters/JSON/src/JSON.ts
  packages/integrations/formatters/KubernetesConfigMap/package.json
  packages/integrations/formatters/TOML/package.json
  packages/integrations/formatters/TOML/src/TOML.ts
  packages/integrations/formatters/TerraformTfvars/package.json
  packages/integrations/formatters/YAML/package.json
  packages/integrations/stores/azure-key-vault/package.json
  packages/integrations/stores/azure-key-vault/src/azure-key-vault.ts
  packages/integrations/stores/cockroach-db/package.json
  packages/integrations/stores/cockroach-db/src/cockroach-db.ts
  packages/integrations/stores/configu/package.json
  packages/integrations/stores/json-file/package.json
  packages/integrations/stores/my-sql/package.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix integrations build
  packages/integrations/stores/azure-key-vault/package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

initial load of integrations that are included inside the cli and proxy (#550)
  packages/common/package.json
  packages/common/src/Registry.ts
  packages/common/src/built-in-integrations.ts
  packages/common/src/index.ts
  packages/integrations/expressions/validator/package.json
  packages/integrations/formatters/CompactJSON/package.json
  packages/integrations/formatters/Dotenv/package.json
  packages/integrations/formatters/JSON/package.json
  packages/integrations/formatters/JSON/src/JSON.ts
  packages/integrations/formatters/KubernetesConfigMap/package.json
  packages/integrations/formatters/TOML/package.json
  packages/integrations/formatters/TOML/src/TOML.ts
  packages/integrations/formatters/TerraformTfvars/package.json
  packages/integrations/formatters/YAML/package.json
  packages/integrations/stores/azure-key-vault/package.json
  packages/integrations/stores/azure-key-vault/src/azure-key-vault.ts
  packages/integrations/stores/cockroach-db/package.json
  packages/integrations/stores/cockroach-db/src/cockroach-db.ts
  packages/integrations/stores/configu/package.json
  packages/integrations/stores/json-file/package.json
  packages/integrations/stores/my-sql/package.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

add dependency
  packages/integrations/stores/gcp-secret-manager-config-store/package.json
  packages/integrations/stores/gcp-secret-manager-config-store/src/gcp-secret-manager.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Add AWSSecretsManagerConfigStore to @configu/integrations (#543)
  packages/integrations/stores/aws-secrets-manager/package.json
  packages/integrations/stores/aws-secrets-manager/src/aws-secrets-manager.ts
  packages/integrations/stores/aws-secrets-manager/tsconfig.json
  packages/integrations/stores/aws-secrets-manager/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat(add): etcd3 to dependencies
  packages/integrations/stores/etcd/package.json
Due: pnpm prettier --ignore-path .gitignore --write

Fix lock file
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

feat(keyv): migrate to @configu/integrations"
  package-lock.json
  packages/integrations/stores/key-v/package.json
  packages/integrations/stores/key-v/src/keyv-store.ts
  packages/integrations/stores/key-v/tsconfig.json
  packages/integrations/stores/key-v/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Migrate MariaDBConfigStore to @configu/integrations (#533)
  packages/integrations/stores/mariadb/package.json
  packages/integrations/stores/mariadb/src/mariadb.ts
  packages/integrations/stores/mariadb/tsconfig.json
  packages/integrations/stores/mariadb/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Path conditions:
  pnpm build --force: any of: packages/**/*.ts
  pnpm prettier --ignore-path .gitignore --write: (any of: *.{js,mjs,ts}) or (any of: *.{md,json,yaml})
  pnpm eslint --ignore-path .gitignore --cache --fix: any of: *.{js,mjs,ts}
