Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update billing.mdx
  docs/integrations/store/configu/billing.mdx
Due: none

docs: final fixes
  docs/integrations/store/configu/billing.mdx
Due: none

Add billing feature documentation (#436)
  docs/images/billing/billing-history.png
  docs/images/billing/billing-info-form.png
  docs/images/billing/billing-info.png
  docs/images/billing/change-method.png
  docs/images/billing/current-plan.png
  docs/images/billing/payment.png
  docs/images/billing/select-plan.png
  docs/images/billing/subscription-info.png
  docs/integrations/index.json
  docs/integrations/store/configu/approval-queue.mdx
  docs/integrations/store/configu/authorization.mdx
  docs/integrations/store/configu/billing.mdx
  docs/integrations/store/configu/config-editor.mdx
  docs/integrations/store/configu/config-explorer.mdx
  docs/integrations/store/configu/config-history.mdx
  docs/integrations/store/configu/integrations.mdx
  docs/integrations/store/configu/members.mdx
  docs/integrations/store/configu/settings.mdx
  docs/integrations/store/configu/tokens.mdx
  docs/integrations/store/configu/webhooks.mdx
  docs/mint.json
Due: pnpm prettier --ignore-path .gitignore --write

drop ConnectionString fix #233
  packages/ts/src/Cfgu.ts
  packages/ts/src/ConfigSchema.ts
  packages/ts/src/types/generated.ts
  types/Cfgu.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

using another oss project for login
  packages/cli/src/commands/login.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: add eval set feature reference in config explorer
  docs/integrations/store/configu/config-explorer.mdx
Due: none

get auth params from env vars
  packages/cli/src/commands/login.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: configu common init
  packages/common/package.json
  packages/common/tsconfig.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

chore: add common package path to build configuration
  tsconfig.build.json
Due: pnpm prettier --ignore-path .gitignore --write

docs: add README for @configu/common package
  packages/common/README.md
Due: pnpm prettier --ignore-path .gitignore --write

chore: add minimal shared logic from configu/cli
  packages/common/package.json
  packages/common/src/commands/EvalCommand.ts
  packages/common/src/commands/ExportCommand.ts
  packages/common/src/index.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat: add caching feature to eval command in configu common
  packages/common/package.json
  packages/common/src/commands/EvalCommand.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

refactor: rename caching feature to backup
  packages/common/src/commands/EvalCommand.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat: add shared interface for .configu file operations to configu common
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/utils/ConfigProvider.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

refactor: tune naming
  packages/common/src/utils/ConfigProvider.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

refactor: add a JsonSchema and refactor the provider to a ConfiguFile class
  packages/common/src/index.ts
  packages/common/src/utils/ConfigProvider.ts
  packages/common/src/utils/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: add store fetching logic to configu store
  packages/common/package.json
  packages/common/src/utils/ConfigStoreConstructor.ts
  packages/common/src/utils/ConfiguFile.ts
  packages/proxy/package.json
  packages/proxy/src/index.ts
  packages/proxy/src/routes.ts
  packages/proxy/src/utils.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: add script running method
  packages/common/src/utils/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

refactor: tune runScript parameters
  packages/common/src/utils/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: change cli to use the common package
  packages/cli/package.json
  packages/cli/src/base.ts
  packages/cli/src/commands/eval.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/helpers/stores.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: add docs for the lightweight editor feature
  docs/images/configs-explorer/configs-explorer-upsert-configs-wizard-assign-values.png
  docs/images/configs-explorer/configs-explorer-upsert-configs-wizard-button.png
  docs/images/configs-explorer/configs-explorer-upsert-configs-wizard-select-key.png
  docs/images/configs-explorer/configs-explorer-upsert-configs-wizard-summary.png
  docs/integrations/store/configu/config-explorer.mdx
Due: none

docs: tweak copy
  docs/integrations/store/configu/config-explorer.mdx
Due: none

upgrade node & setup tsup
  .github/workflows/cd-proxy.yml
  .node-version
  .npmrc
  .nvmrc
  package.json
  packages/proxy/package.json
  packages/ts/src/utils.ts
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.next.json
  tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Add `Eval Set` feature documentation (#443)
  docs/integrations/store/configu/config-explorer.mdx
Due: none

Add `Upsert Configs Wizard` feature documentation (#451)
  docs/images/configs-explorer/configs-explorer-upsert-configs-wizard-assign-values.png
  docs/images/configs-explorer/configs-explorer-upsert-configs-wizard-button.png
  docs/images/configs-explorer/configs-explorer-upsert-configs-wizard-select-key.png
  docs/images/configs-explorer/configs-explorer-upsert-configs-wizard-summary.png
  docs/integrations/store/configu/config-explorer.mdx
Due: none

chore: adjustments to for conflict prevention with configu integrations
  packages/cli/src/base.ts
  packages/cli/src/commands/delete.ts
  packages/cli/src/commands/eval.ts
  packages/cli/src/commands/test.ts
  packages/cli/src/commands/upsert.ts
  packages/common/src/utils/ConfiguFile.ts
  packages/proxy/src/config.ts
  packages/proxy/src/routes.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

create configu sdk
  packages/lib/src/formatters/configFormatters.ts
  packages/sdk/package.json
  packages/sdk/src/commands/ConfigCommand.ts
  packages/sdk/src/commands/EvalCommand.ts
  packages/sdk/src/commands/ExportCommand.ts
  packages/sdk/src/commands/UpsertCommand.ts
  packages/sdk/src/core/Cfgu.ts
  packages/sdk/src/core/Config.ts
  packages/sdk/src/core/ConfigSchema.ts
  packages/sdk/src/core/ConfigSet.ts
  packages/sdk/src/core/ConfigStore.ts
  packages/sdk/src/index.ts
  packages/sdk/src/stores/InMemory.ts
  packages/sdk/src/stores/KeyValue.ts
  packages/sdk/src/stores/Noop.ts
  packages/sdk/src/utils/Expression.ts
  packages/sdk/src/utils/Json.ts
  packages/sdk/src/utils/String.ts
  packages/sdk/tsconfig.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update index.ts
  packages/sdk/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat: add load schema method
  packages/common/src/utils/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: adjust comment
  packages/common/src/utils/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fixes
  packages/lib/src/formatters/configFormatters.ts
  packages/sdk/src/core/ConfigStore.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update package.json
  package.json
Due: pnpm prettier --ignore-path .gitignore --write

fix bundle
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/tsconfig.json
  tsconfig.next.json
Due: pnpm prettier --ignore-path .gitignore --write

bundle common
  package.json
  packages/common/package.json
  packages/common/src/commands/EvalCommand.ts
  packages/common/src/commands/ExportCommand.ts
  packages/common/src/utils/ConfiguFile.ts
  packages/common/tsconfig.json
  packages/sdk/tsconfig.json
  pnpm-lock.yaml
  tsconfig.build.json
  tsconfig.next.json
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix package json for tsup
  package.json
  packages/sdk/package.json
  packages/sdk/tsconfig.json
  tsconfig.bundle.json
Due: pnpm prettier --ignore-path .gitignore --write

chore: adjust comments
  packages/common/src/utils/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

#459 - Add the 2024 Hacktoberfest Banner to the README
  README.md
  docs/images/banner/hacktoberfest-24-banner.svg
Due: pnpm prettier --ignore-path .gitignore --write

#459 - Add the 2024 Hacktoberfest Banner to the README (#463)
  README.md
  docs/images/banner/hacktoberfest-24-banner.svg
Due: pnpm prettier --ignore-path .gitignore --write

fix hacktoberfest logo
  README.md
Due: pnpm prettier --ignore-path .gitignore --write

Path conditions:
  pnpm build --force: any of: packages/**/*.ts
  pnpm prettier --ignore-path .gitignore --write: (any of: *.{js,mjs,ts}) or (any of: *.{md,json,yaml})
  pnpm eslint --ignore-path .gitignore --cache --fix: any of: *.{js,mjs,ts}
