Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["pnpm build --force"],
  "*.{js,mjs,ts}": [
    "pnpm prettier --ignore-path .gitignore --write",
    "pnpm eslint --ignore-path .gitignore --cache --fix"
  ],
  "*.{md,json,yaml}": ["pnpm prettier --ignore-path .gitignore --write"]
}

Create Documentation
  packages/integrations/stores/aws-parameter-store/Documentation
Due: none

revert gitignore
  .gitignore
Due: none

rename to test-kit
  packages/integrations/src/test-kit/index.ts
  packages/integrations/src/test-kit/mock-store.ts
  packages/integrations/src/test-kit/test-bed.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

testbed for configu integrations
  .gitignore
  packages/integrations/src/test-utils/index.ts
  packages/integrations/src/test-utils/mock-store.ts
  packages/integrations/src/test-utils/test-bed.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

better test utils interface
  packages/integrations/src/test-utils/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

improve test api
  packages/integrations/src/test-utils/index.ts
  packages/integrations/src/test-utils/test-bed.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

503 - compile scripts to compile the cli to each os
  .github/workflows/cd-cli.yml
  packages/cli/.gitignore
  packages/cli/compiler/darwin.ts
  packages/cli/compiler/index.ts
  packages/cli/compiler/linux.ts
  packages/cli/compiler/win32.ts
  packages/cli/package.json
  packages/cli/sea-config.json
  packages/common/src/Registry.ts
  packages/sdk/src/core/ConfigStore.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

define filename
  packages/cli/compiler/darwin.ts
  packages/cli/compiler/index.ts
  packages/cli/compiler/linux.ts
  packages/cli/compiler/win32.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix bin name
  packages/cli/package.json
Due: pnpm prettier --ignore-path .gitignore --write

cli github action
  .github/workflows/cd-cli.yml
Due: none

safe-import of node libs
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/login.ts
  packages/cli/src/helpers/utils.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update README.md
  packages/integrations/stores/launch-darkly/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Migrate `LaunchDarklyConfigstore` (#620)
  packages/integrations/stores/launch-darkly/README.md
  packages/integrations/stores/launch-darkly/package.json
  packages/integrations/stores/launch-darkly/src/launch-darkly.ts
  packages/integrations/stores/launch-darkly/tsconfig.json
  packages/integrations/stores/launch-darkly/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update README.md
  packages/integrations/stores/azure-key-vault/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Add doc for `@configu-integrations/azure-keyvault` (#624)
  packages/integrations/stores/azure-key-vault/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  packages/integrations/stores/split/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Add doc for `@configu-integrations/split` (#626)
  packages/integrations/stores/split/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  packages/integrations/stores/etcd/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Add doc for `@configu-integrations/etcd` (#627)
  packages/integrations/stores/etcd/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  packages/integrations/stores/hashicorp-vault/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Add doc for `@configu-integrations/hashicorp-vault` (#628)
  packages/integrations/stores/hashicorp-vault/README.md
Due: pnpm prettier --ignore-path .gitignore --write

503 - compile scripts to compile the cli to each os (#602)
  .github/workflows/cd-cli.yml
  packages/cli/.gitignore
  packages/cli/compiler/darwin.ts
  packages/cli/compiler/index.ts
  packages/cli/compiler/linux.ts
  packages/cli/compiler/win32.ts
  packages/cli/package.json
  packages/cli/sea-config.json
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/login.ts
  packages/cli/src/helpers/utils.ts
  packages/common/src/Registry.ts
  packages/sdk/src/core/ConfigStore.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update README.md
  packages/integrations/stores/localforage/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Add doc for `@configu-integrations/localforage` (#629)
  packages/integrations/stores/localforage/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  packages/integrations/stores/key-v/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Add doc for `@configu-integrations/keyv` (#630)
  packages/integrations/stores/key-v/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  packages/integrations/stores/gcp-secret-manager-config-store/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Add doc for `@configu-integrations/gcp-secret-manager` (#631)
  packages/integrations/stores/gcp-secret-manager-config-store/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  packages/integrations/stores/cloud-bees/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Add doc for `@configu-integrations/cloud-bees` (#632)
  packages/integrations/stores/cloud-bees/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  packages/integrations/stores/mariadb/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Add docs for `@configu-integrations/mariadb` (#633)
  packages/integrations/stores/mariadb/README.md
Due: pnpm prettier --ignore-path .gitignore --write

feat: migrate init command
  packages/cli/package.json
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/helpers/configExtractor.ts
  packages/cli/src/helpers/index.ts
  packages/cli/src/helpers/utils.ts
  packages/cli/src/index.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: rework react native guide
  docs/guides/react-native.mdx
Due: none

docs: tuneup
  docs/guides/react-native.mdx
Due: none

Migrate `Configu init` command to `@configu/cli` (#635)
  packages/cli/package.json
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/helpers/configExtractor.ts
  packages/cli/src/helpers/index.ts
  packages/cli/src/helpers/utils.ts
  packages/cli/src/index.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feature/599-toml-file-readme adding readme file
  packages/integrations/stores/toml-file/README.md
Due: pnpm prettier --ignore-path .gitignore --write

feature/599-toml-file-readme updating readme file
  packages/integrations/stores/toml-file/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Create README.md
  packages/integrations/stores/xml-file/README.md
Due: pnpm prettier --ignore-path .gitignore --write
