Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["pnpm build --force"],
  "*.{js,mjs,ts}": [
    "pnpm prettier --ignore-path .gitignore --write",
    "pnpm eslint --ignore-path .gitignore --cache --fix"
  ],
  "*.{md,json,yaml}": ["pnpm prettier --ignore-path .gitignore --write"]
}

Update README.md
  packages/integrations/stores/toml-file/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Add docs for `@configu-integrations/toml-file` (#637)
  packages/integrations/stores/toml-file/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  packages/integrations/stores/xml-file/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Add docs for `@configu-integrations/xml-file` (#638)
  packages/integrations/stores/xml-file/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Create a draft implementation of the generate command
  .eslintrc
  .lintstagedrc.js
  .prettierignore
  package.json
  packages/cli/src/commands/generate.ts
  packages/cli/src/index.ts
  packages/cli/src/integration_template/package.json
  packages/cli/src/integration_template/src/{{name}}.ts
  packages/cli/src/integration_template/tsconfig.json
  packages/cli/src/integration_template/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Rework generate command based on PR comments
  packages/cli/package.json
  packages/cli/src/commands/generate.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

added docs for sqlite store
  packages/integrations/stores/sqlite/README.md
Due: pnpm prettier --ignore-path .gitignore --write

added docs for csv file store
  packages/integrations/stores/csv-file/README.md
Due: pnpm prettier --ignore-path .gitignore --write

removed sqlite docs
  packages/integrations/stores/sqlite/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  packages/integrations/stores/sqlite/README.md
Due: pnpm prettier --ignore-path .gitignore --write

added docs for `@configu-integrations/sqlite` (#639)
  packages/integrations/stores/sqlite/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  packages/integrations/stores/csv-file/README.md
Due: pnpm prettier --ignore-path .gitignore --write

add docs for `@configu-integrations/csv-file` (#640)
  packages/integrations/stores/csv-file/README.md
Due: pnpm prettier --ignore-path .gitignore --write

added docs for json store
  packages/integrations/stores/json-file/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  packages/integrations/stores/json-file/README.md
Due: pnpm prettier --ignore-path .gitignore --write

add docs for `@configu-integrations/json-file` (#641)
  packages/integrations/stores/json-file/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update
  packages/integrations/stores/ini-file/README.md
  packages/integrations/stores/ini-file/package.json
  packages/integrations/stores/ini-file/src/ini.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update README.md
  packages/integrations/stores/ini-file/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Rename ini.ts to ini-file.ts
  packages/integrations/stores/ini-file/src/ini-file.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Migrated `IniFileConfigStore` to `@configu/integrations` (#625)
  packages/integrations/stores/ini-file/README.md
  packages/integrations/stores/ini-file/package.json
  packages/integrations/stores/ini-file/src/ini-file.ts
  packages/integrations/stores/ini-file/tsconfig.json
  packages/integrations/stores/ini-file/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

new changes
  packages/integrations/stores/aws-parameter-store/Documentation
Due: none

Update and rename Documentation to README.md
  packages/integrations/stores/aws-parameter-store/Documentation
  packages/integrations/stores/aws-parameter-store/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  packages/integrations/stores/aws-parameter-store/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Add docs for `@configu-integrations/aws-parameter-store` (#634)
  packages/integrations/stores/aws-parameter-store/README.md
Due: pnpm prettier --ignore-path .gitignore --write

chore: adjust builtin integrations
  packages/cli/package.json
  packages/cli/src/commands/base.ts
  packages/common/package.json
  packages/common/src/Registry.ts
  packages/common/src/built-in-integrations.ts
  packages/integrations/formatters/HelmValues/package.json
  packages/integrations/formatters/KubernetesConfigMap/package.json
  packages/integrations/formatters/TerraformTfvars/package.json
  packages/integrations/formatters/YAML/package.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: move formatter expression registration into export command
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/export.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: adjust remote registration logic
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/eval.ts
  packages/cli/src/commands/test.ts
  packages/cli/src/commands/upsert.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/Registry.test.ts
  packages/common/src/Registry.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: adjust proxy for store instance change
  packages/proxy/src/routes.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: impl integration caching
  packages/cli/src/commands/base.ts
  packages/cli/src/helpers/utils.ts
  packages/common/src/Registry.ts
  packages/common/src/utils.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: remove error handling for base directory determination
  packages/common/src/utils.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: add a configu configstore doc
  packages/integrations/stores/configu/README.md
Due: pnpm prettier --ignore-path .gitignore --write

feat: upgrade inquirer to @inquirer/prompts package
  packages/cli/package.json
  packages/cli/src/commands/login.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Initial implementation of the generate command (#606)
  .eslintrc
  .lintstagedrc.js
  .prettierignore
  package.json
  packages/cli/package.json
  packages/cli/src/commands/generate.ts
  packages/cli/src/index.ts
  packages/cli/src/integration_template/package.json
  packages/cli/src/integration_template/src/{{name}}.ts
  packages/cli/src/integration_template/tsconfig.json
  packages/cli/src/integration_template/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: outdated lock file
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

Fix outdated lock file (#648)
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

chore: change integ build to cjs
  packages/integrations/stores/aws-parameter-store/tsup.config.ts
  packages/integrations/stores/aws-secrets-manager/tsup.config.ts
  packages/integrations/stores/azure-key-vault/tsup.config.ts
  packages/integrations/stores/cloud-bees/tsup.config.ts
  packages/integrations/stores/cockroach-db/tsup.config.ts
  packages/integrations/stores/configu/tsup.config.ts
  packages/integrations/stores/csv-file/tsup.config.ts
  packages/integrations/stores/etcd/tsup.config.ts
  packages/integrations/stores/gcp-secret-manager-config-store/tsup.config.ts
  packages/integrations/stores/hashicorp-vault/tsup.config.ts
  packages/integrations/stores/ini-file/tsup.config.ts
  packages/integrations/stores/json-file/tsup.config.ts
  packages/integrations/stores/key-v/tsup.config.ts
  packages/integrations/stores/kubernetes-secret-store/tsup.config.ts
  packages/integrations/stores/launch-darkly/tsup.config.ts
  packages/integrations/stores/localforage/tsup.config.ts
  packages/integrations/stores/mariadb/tsup.config.ts
  packages/integrations/stores/ms-sql/tsup.config.ts
  packages/integrations/stores/my-sql/tsup.config.ts
  packages/integrations/stores/postgresql/tsup.config.ts
  packages/integrations/stores/split/tsup.config.ts
  packages/integrations/stores/sqlite/tsup.config.ts
  packages/integrations/stores/toml-file/tsup.config.ts
  packages/integrations/stores/xml-file/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix
