Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: update schema URLs in migration and interface documentation
  docs/guides/v1-migration.mdx
  docs/interfaces/.cfgu.mdx
  docs/interfaces/.configu.mdx
  docs/interfaces/cli/setup.mdx
Due: none

fix tooling
  .github/workflows/cd-cli-david.yml
  .github/workflows/cd-configu-integrations.yml
  .github/workflows/cd-lib.yml
  .github/workflows/ci-drafter.yml
  .github/workflows/ci-integrations.yml
  .prettierignore
  package.json
  packages/schema/build.mts
  packages/sdk/tsconfig.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

Update ConfigKey.ts
  packages/sdk/src/ConfigKey.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix drafter
  .github/configs/formatters-release-drafter.yml
  .github/configs/labeler.yml
  .github/configs/lib-release-drafter.yml
  .github/configs/sdk-release-drafter.yml
  .github/configs/ts-release-drafter.yml
  .github/workflows/ci-drafter.yml
Due: none

fix json-schema to configu dsls
  docs/guides/v1-migration.mdx
  docs/interfaces/.cfgu.mdx
  docs/interfaces/.configu.mdx
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/schema/data/.configu.yaml
  packages/schema/data/test.cfgu.json
  packages/schema/data/test.cfgu.yml
  packages/schema/data/xy.cfgu.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix proxy pipeline
  .github/workflows/cd-cli.yml
  .github/workflows/cd-proxy.yml
Due: none

Documentation: Configu platform GitLab integration (#680)
  docs/images-old/integrations/integrations-github-connected.png
  docs/images/configs-editor/config-editor-schema-source-gitlab.png
  docs/images/integrations/integrations-github-authorize.png
  docs/images/integrations/integrations-github-connected.png
  docs/images/integrations/integrations-gitlab-authorize.png
  docs/images/integrations/integrations-gitlab-connected.png
  docs/integrations/store/configu/config-editor.mdx
  docs/integrations/store/configu/integrations.mdx
Due: none

docs: clarify GitLab integration access permissions
  docs/integrations/store/configu/integrations.mdx
Due: none

Update docs/integrations/store/configu/integrations.mdx
  docs/integrations/store/configu/integrations.mdx
Due: none

Documentation: Clarify Configu platform GitLab integration limitation (#688)
  docs/integrations/store/configu/integrations.mdx
Due: none

Documentation: Create Set Action (#685)
  docs/images/configs-explorer/configs-filters.png
  docs/images/configs-explorer/platform-configs-explorer-grid.png
  docs/images/configs-explorer/platform-configs-explorer-sets.png
  docs/images/configs-explorer/sets-graph-menu.png
  docs/integrations/store/configu/config-explorer.mdx
Due: none

chore: remove naming restriction
  packages/sdk/src/ConfigKey.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Remove `config` naming restriction (#695)
  packages/sdk/src/ConfigKey.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Added the SSE support by checking if the cron parameter exists and executing the SSE keep-alive events
  packages/proxy/package.json
  packages/proxy/src/routes.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

updated documentation
  packages/proxy/src/routes.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

refactored index to have server as an exported value to be created in index and in tests. Need actual data to run these
  packages/proxy/package.json
  packages/proxy/src/__tests__/proxy.test.ts
  packages/proxy/src/fastify.d.ts
  packages/proxy/src/index.ts
  packages/proxy/src/server.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

documentation fixes
  packages/proxy/src/__tests__/proxy.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Changed require to import to align with ES module
  packages/proxy/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Fixed some tests + fixed ignore-path flag issue
  package.json
  packages/proxy/src/__tests__/proxy.test.ts
  packages/proxy/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Reversing ESLint downgrade
  package.json
Due: pnpm prettier --ignore-path .gitignore --write

Add "Open with Codeanywhere" badge to README.md (#664)
  README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  README.md
Due: pnpm prettier --ignore-path .gitignore --write

push initial benny tests
  .github/workflows/ci-ts.yml
  packages/formatters/src/utils.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update ci-ts.yml
  .github/workflows/ci-ts.yml
Due: none

todo: uncomment and fix tests
  packages/proxy/package.json
  packages/proxy/src/__tests__/proxy.test.ts
  packages/proxy/src/server.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Fixed tests
  packages/proxy/src/__tests__/proxy.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Using Fastify's built-in inject testing
  packages/proxy/src/__tests__/proxy.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

documentation fix
  packages/proxy/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Finished writing all tests
  packages/proxy/src/__tests__/.configu
  packages/proxy/src/__tests__/configs.json
  packages/proxy/src/__tests__/proxy.test.ts
  packages/proxy/src/__tests__/schema.json
  packages/proxy/src/__tests__/start.cfgu.json
  packages/proxy/src/routes.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

header text fix
  packages/proxy/src/routes.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

removed all kind of weird packages added to pnpm-lock yaml
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

more weird changes I removed
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

last weird package change
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

ConfiguModule
  .vscode/launch.json
  package.json
  packages/cli/package.json
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/eval.ts
  packages/cli/src/commands/export.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/upsert.ts
  packages/cli/src/helpers/configExtractor.ts
  packages/common/package.json
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/ConfiguInterface.ts
  packages/common/src/ConfiguModule.ts
  packages/common/src/builtins.ts
  packages/common/src/utils.ts
  packages/formatters/package.json
  packages/proxy/src/routes.ts
  packages/schema/build.mts
  packages/sdk/package.json
  packages/sdk/src/ConfigKey.ts
  packages/sdk/src/index.ts
  packages/sdk/tsup.config.ts
  packages/stores/configu/src/index.ts
  packages/stores/database/src/index.ts
  packages/stores/file/src/index.ts
  packages/stores/ini-file/src/index.ts
  packages/stores/key-value/src/index.ts
  packages/stores/launch-darkly/src/index.ts
  packages/stores/toml-file/src/index.ts
  patches/npm.patch
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix sdk entry
  packages/common/src/ConfiguFile.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix npm config
  packages/common/src/ConfiguModule.ts
  packages/common/src/utils.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Fixed PR comments
  packages/proxy/src/__tests__/proxy.test.ts
  packages/proxy/src/index.ts
  packages/proxy/src/routes.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

removed comment
  packages/proxy/src/__tests__/proxy.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Path conditions:
  pnpm build --force: any of: packages/**/*.ts
  pnpm prettier --ignore-path .gitignore --write: (any of: *.{js,mjs,ts}) or (any of: *.{md,json,yaml})
  pnpm eslint --ignore-path .gitignore --cache --fix: any of: *.{js,mjs,ts}
