Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["pnpm build --force"],
  "*.{js,mjs,ts}": [
    "pnpm prettier --ignore-path .gitignore --write",
    "pnpm eslint --ignore-path .gitignore --cache --fix"
  ],
  "*.{md,json,yaml}": ["pnpm prettier --ignore-path .gitignore --write"]
}

Implement store docs generation script (#658)
  docs/integrations/index.json
  docs/integrations/store/configu/overview.mdx
  docs/integrations/store/db/cockroachdb.mdx
  docs/integrations/store/db/mariadb.mdx
  docs/integrations/store/db/mssql.mdx
  docs/integrations/store/db/mysql.mdx
  docs/integrations/store/db/postgresql.mdx
  docs/integrations/store/ff/cloudbees-feature-management.mdx
  docs/integrations/store/ff/launchdarkly.mdx
  docs/integrations/store/ff/split.mdx
  docs/integrations/store/file/csv-file.mdx
  docs/integrations/store/file/ini-file.mdx
  docs/integrations/store/file/json-file.mdx
  docs/integrations/store/file/toml-file.mdx
  docs/integrations/store/file/xml-file.mdx
  docs/integrations/store/other/aws-parameter-store.mdx
  docs/integrations/store/other/etcd.mdx
  docs/integrations/store/other/localforage.mdx
  docs/integrations/store/secret/aws-secrets-manager.mdx
  docs/integrations/store/secret/azure-key-vault.mdx
  docs/integrations/store/secret/gcp-secret-manager.mdx
  docs/integrations/store/secret/hashicorp-vault.mdx
  docs/integrations/store/secret/kubernetes-secret.mdx
  docs/integrations/store/sqlite.mdx
  docs/mint.json
  docs/prepare.mjs
  docs/typedoc.js
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: update validation tests in configuration schemas for consistency
  docs/guides/hashicorp-vault.mdx
  docs/interfaces/.cfgu.mdx
  docs/introduction/concepts.mdx
Due: none

docs: update v1 migration guide schema examples
  docs/guides/v1-migration.mdx
Due: none

docs: update links to ConfigStore and related classes in documentation
  docs/integrations/overview-all.mdx
  docs/integrations/overview.mdx
  docs/introduction/concepts.mdx
Due: none

docs: enhance response field types and descriptions in ConfigExpression context
  docs/interfaces/.cfgu.mdx
Due: none

docs: update command syntax in guides to use --kv instead of --config
  docs/guides/hashicorp-vault.mdx
  docs/guides/hello-world.mdx
  examples/hello-world/README.md
Due: pnpm prettier --ignore-path .gitignore --write

docs: fix etc route
  docs/mint.json
Due: pnpm prettier --ignore-path .gitignore --write

docs: add instruction for specifying config file path in commands
  docs/prepare.mjs
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: fix generation misalignments
  docs/integrations/store/file/toml-file.mdx
  docs/integrations/store/secret/aws-secrets-manager.mdx
  docs/interfaces/cli/ref.mdx
Due: none

build cli in docker
  .github/workflows/cd-cli.yml
Due: none

remove unbused steps
  .github/workflows/cd-cli.yml
Due: none

docs: revert contributing guide change
  CONTRIBUTING.md
Due: pnpm prettier --ignore-path .gitignore --write

deploy cli to dockerhub
  .github/workflows/cd-cli.yml
Due: none

slack bot
  .github/workflows/cd-cli.yml
Due: none

wip
  .github/workflows/cd-cli.yml
Due: none

docs: update PostgreSQL URL connection template to use 'const' instead of 'template'
  docs/guides/hashicorp-vault.mdx
Due: none

wip
  .github/workflows/cd-cli.yml
  packages/cli/Dockerfile
  packages/cli/install.sh
Due: none

wip
  .github/workflows/cd-cli.yml
  packages/cli/Dockerfile
Due: none

fix order
  .github/workflows/cd-cli.yml
Due: none

docs: update v1 migration guide with changes to .cfgu properties and CLI commands
  docs/guides/v1-migration.mdx
Due: none

docs: adjust links
  docs/guides/v1-migration.mdx
Due: none

test release install and exec
  .github/workflows/cd-cli.yml
  packages/cli/.gitignore
  packages/cli/compiler/test/installation.test.ts
  packages/cli/package.json
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

test version
  .github/workflows/cd-cli.yml
Due: none

docs: update v1 migration guide example to use validator.isString
  docs/guides/v1-migration.mdx
Due: none

ignore slack massages
  .github/actions/deploy-start-action/action.yml
  .github/workflows/cd-cli.yml
Due: none

run install
  .github/workflows/cd-cli.yml
  packages/cli/compiler/test/installation.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

wip
  packages/cli/compiler/test/installation.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

test install on windows
  packages/cli/compiler/test/installation.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: remove erroneous location of a section
  docs/guides/v1-migration.mdx
Due: none

fix: CLI export command to include EOL option and refactor config formatting
  packages/cli/src/commands/export.ts
  packages/integrations/formatters/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix
