Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["pnpm build --force"],
  "*.{js,mjs,ts}": [
    "pnpm prettier --ignore-path .gitignore --write",
    "pnpm eslint --ignore-path .gitignore --cache --fix"
  ],
  "*.{md,json,yaml}": ["pnpm prettier --ignore-path .gitignore --write"]
}

Add csv formatter
  packages/lib/src/formatters/ConfigFormat.ts
  packages/lib/src/formatters/configFormatters.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update test
  packages/lib/src/formatters/formatters.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Remove unused import
  packages/lib/src/formatters/configFormatters.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Move CSV Formatter to integrations package
  packages/integrations/formatters/CSV/package.json
  packages/integrations/formatters/CSV/src/CSV.ts
  packages/integrations/formatters/CSV/tsconfig.json
  packages/integrations/formatters/CSV/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Add CSV Formatter reference in documentation
  docs/interfaces/cli/ref.mdx
  docs/interfaces/sdk/lib/globals.mdx
  docs/introduction/concepts.mdx
Due: none

Add test
  packages/integrations/formatters/CSV/src/CSV.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Minor
  docs/interfaces/cli/ref.mdx
Due: none

Implemented `CreditCard` `Cfgu Type`
  packages/ts/src/ConfigSchema.ts
  packages/ts/src/types/generated.ts
  types/Cfgu.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: update contributing guide according to the restructure
  CONTRIBUTING.md
Due: pnpm prettier --ignore-path .gitignore --write

Update
  packages/ts/src/Cfgu.ts
  packages/ts/src/ConfigSchema.ts
  types/Cfgu.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

prettier fix
  packages/browser/src/stores/LocalForage.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

registery
  .lintstagedrc.js
  module.js
  package.json
  packages/common/package.json
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/Registry2.ts
  packages/common/src/index.ts
  packages/common/src/module.js
  packages/common/src/test.ts
  packages/common/src/utils.ts
  packages/sdk/package.tsup.json
  packages/sdk/src/core/ConfigStore.ts
  packages/sdk/src/utils/Json.ts
  packages/sdk/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

rm next cli
  packages/cli/README.md
  packages/cli/bin/dev.cmd
  packages/cli/bin/dev.js
  packages/cli/bin/run.cmd
  packages/cli/bin/run.js
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/hello.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  packages/cli/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Complete Configu DSL Files API
  module.js
  package.json
  packages/common/package.json
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/File.ts
  packages/common/src/Registry2.ts
  packages/common/src/index.ts
  packages/common/src/test.ts
  packages/common/src/utils.ts
  packages/common/tsconfig.json
  packages/sdk/package.tsup.json
  packages/sdk/src/core/ConfigSchema.ts
  packages/sdk/src/core/ConfigStore.ts
  packages/sdk/tsconfig.json
  packages/sdk/tsup.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

rename Registry
  packages/common/src/ConfiguFile.ts
  packages/common/src/Registry.ts
  packages/common/src/index.ts
  packages/common/src/test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Implement CSV ConfigFormatter
  package.json
  packages/lib/src/formatters/ConfigFormat.ts
  packages/lib/src/formatters/configFormatters.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Adding test files
  packages/lib/src/formatters/formatters.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Complete Configu Common (#488)
  module.js
  package.json
  packages/common/package.json
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/File.ts
  packages/common/src/Registry.ts
  packages/common/src/index.ts
  packages/common/src/test.ts
  packages/common/src/utils.ts
  packages/common/tsconfig.json
  packages/sdk/package.tsup.json
  packages/sdk/src/core/ConfigSchema.ts
  packages/sdk/src/core/ConfigStore.ts
  packages/sdk/tsconfig.json
  packages/sdk/tsup.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update Registry.ts
  packages/common/src/Registry.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update Registry.ts (#490)
  packages/common/src/Registry.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Handle subprocess exit codes in run command
  packages/cli/src/commands/run.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

493 - convert integrations to import sdk instead of ts lib
  packages/integrations/expressions/validators/tsup.config.ts
  packages/integrations/formatters/CompactJSON/tsup.config.ts
  packages/integrations/formatters/Dotenv/tsup.config.ts
  packages/integrations/formatters/HelmValues/tsup.config.ts
  packages/integrations/formatters/JSON/tsup.config.ts
  packages/integrations/formatters/KubernetesConfigMap/tsup.config.ts
  packages/integrations/formatters/TOML/tsup.config.ts
  packages/integrations/formatters/TerraformTfvars/tsup.config.ts
  packages/integrations/formatters/YAML/tsup.config.ts
  packages/integrations/stores/aws-parameter/tsup.config.ts
  packages/integrations/stores/configu/tsup.config.ts
  packages/integrations/stores/csv-file/tsup.config.ts
  packages/integrations/stores/hashicorp-vault/tsup.config.ts
  packages/integrations/stores/json-file/tsup.config.ts
  packages/integrations/stores/sqlite/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix import from sdk
  packages/integrations/package.json
  packages/integrations/src/utils/File.ts
  packages/integrations/src/utils/KeyValue.ts
  packages/integrations/stores/aws-parameter/package.json
  packages/integrations/stores/aws-parameter/src/aws-parameter.ts
  packages/integrations/stores/configu/package.json
  packages/integrations/stores/configu/src/configu.ts
  packages/integrations/stores/csv-file/package.json
  packages/integrations/stores/csv-file/src/csv-file.ts
  packages/integrations/stores/hashicorp-vault/package.json
  packages/integrations/stores/hashicorp-vault/src/hashicorp-vault.ts
  packages/integrations/stores/json-file/package.json
  packages/integrations/stores/json-file/src/json-file.ts
  packages/integrations/stores/json-file/src/utils/generated.ts
  packages/integrations/stores/sqlite/package.json
  packages/integrations/stores/sqlite/src/utils/ORM.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

lint fix
  packages/browser/src/stores/LocalForage.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

lint fix
  README.md
Due: pnpm prettier --ignore-path .gitignore --write

493 - convert integrations to import sdk instead of ts lib (#494)
  README.md
  packages/browser/src/stores/LocalForage.ts
  packages/integrations/expressions/validators/tsup.config.ts
  packages/integrations/formatters/CompactJSON/tsup.config.ts
  packages/integrations/formatters/Dotenv/tsup.config.ts
  packages/integrations/formatters/HelmValues/tsup.config.ts
  packages/integrations/formatters/JSON/tsup.config.ts
  packages/integrations/formatters/KubernetesConfigMap/tsup.config.ts
  packages/integrations/formatters/TOML/tsup.config.ts
  packages/integrations/formatters/TerraformTfvars/tsup.config.ts
  packages/integrations/formatters/YAML/tsup.config.ts
  packages/integrations/package.json
  packages/integrations/src/utils/File.ts
  packages/integrations/src/utils/KeyValue.ts
  packages/integrations/stores/aws-parameter/package.json
  packages/integrations/stores/aws-parameter/src/aws-parameter.ts
  packages/integrations/stores/aws-parameter/tsup.config.ts
  packages/integrations/stores/configu/package.json
  packages/integrations/stores/configu/src/configu.ts
  packages/integrations/stores/configu/tsup.config.ts
  packages/integrations/stores/csv-file/package.json
  packages/integrations/stores/csv-file/src/csv-file.ts
  packages/integrations/stores/csv-file/tsup.config.ts
  packages/integrations/stores/hashicorp-vault/package.json
  packages/integrations/stores/hashicorp-vault/src/hashicorp-vault.ts
  packages/integrations/stores/hashicorp-vault/tsup.config.ts
  packages/integrations/stores/json-file/package.json
  packages/integrations/stores/json-file/src/json-file.ts
  packages/integrations/stores/json-file/src/utils/generated.ts
  packages/integrations/stores/json-file/tsup.config.ts
  packages/integrations/stores/sqlite/package.json
  packages/integrations/stores/sqlite/src/utils/ORM.ts
  packages/integrations/stores/sqlite/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Handle subprocess exit codes in run command (#479)
  packages/cli/src/commands/run.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

remove sdk alias behavior
  packages/common/src/Registry.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

remote registry
  packages/common/package.json
  packages/common/src/stub/demo-store.stub.js
  packages/common/src/stub/expressions.stub.js
  packages/common/src/stub/module.js
  packages/common/src/test/registry.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

rebase
  .github/workflows/cd-configu-integrations.yml
  .gitignore
  package.json
  packages/common/package.json
  packages/common/src/Registry.ts
  packages/common/src/stub/demo-store.stub.js
  packages/common/src/stub/expressions.stub.js
  packages/common/src/stub/module.js
  packages/common/src/test.ts
  packages/common/src/test/registry.test.ts
  packages/lib/src/formatters/formatters.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

491 - remote registry of integrations from release (#492)
  .github/workflows/cd-configu-integrations.yml
  .gitignore
  package.json
  packages/common/package.json
  packages/common/src/Registry.ts
  packages/common/src/stub/demo-store.stub.js
  packages/common/src/stub/expressions.stub.js
  packages/common/src/stub/module.js
  packages/common/src/test.ts
  packages/common/src/test/registry.test.ts
  packages/lib/src/formatters/formatters.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

cli init
  .eslintrc
  .gitignore
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/eval.ts
  packages/cli/src/commands/hello.ts
  packages/cli/src/index.ts
  packages/cli/src/run.ts
  packages/cli/tsconfig.json
  packages/cli/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Allow provision of a default store
  packages/cli/src/base.ts
  packages/cli/src/commands/delete.ts
  packages/cli/src/commands/test.ts
  packages/cli/src/commands/upsert.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: utilize new packages in proxy
  packages/common/package.json
  packages/proxy/package.json
  packages/proxy/src/index.ts
  packages/proxy/src/routes.ts
  packages/proxy/src/utils.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

[+]README on Integration
  packages/integrations/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  README.md
Due: pnpm prettier --ignore-path .gitignore --write

typo errors in hello-world.mdx
  docs/guides/hello-world.mdx
Due: none

changes back
  docs/guides/hello-world.mdx
Due: none

change
  docs/guides/hello-world.mdx
Due: none
