Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update cd-cli.yml
  .github/workflows/cd-cli.yml
Due: none

fix scripts
  packages/cli/install.ps1
  packages/cli/install.sh
Due: none

Update install.ps1
  packages/cli/install.ps1
Due: none

configu install
  .github/workflows/cd-cli.yml
  packages/cli/install.ps1
  packages/cli/install.sh
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/install.ts
  packages/cli/src/commands/purge.ts
  packages/cli/src/commands/setup.ts
  packages/cli/src/index.ts
  packages/cli/src/utils.ts
  packages/common/src/ConfiguInterface.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix install & purge & add init
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/install.ts
  packages/cli/src/commands/purge.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fixes
  .github/workflows/cd-cli.yml
  packages/cli/src/commands/init.ts
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/utils/FileSystem.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix cd
  .github/workflows/cd-cli.yml
  packages/cli/src/commands/init.ts
  packages/common/src/CfguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix win
  packages/cli/build.mts
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/install.ts
  packages/common/src/ConfiguInterface.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix win assertion
  packages/cli/src/commands/init.ts
  packages/common/src/ConfiguInterface.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix win
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/install.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix win install
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/install.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix ps1 script
  .github/workflows/cd-cli.yml
  packages/cli/install.ps1
  packages/cli/src/commands/init.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fixes
  .github/workflows/cd-cli.yml
  packages/cli/src/commands/eval.ts
  packages/cli/src/commands/upsert.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fixes
  .github/workflows/cd-cli.yml
  .vscode/launch.json
  examples/playground/stdin
  packages/cli/install.ps1
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/eval.ts
  packages/cli/src/commands/export.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/install.ts
  packages/cli/src/commands/purge.ts
  packages/cli/src/commands/upsert.ts
  packages/cli/src/index.ts
  packages/cli/tsup.config.ts
  packages/common/package.json
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/ConfiguInterface.ts
  packages/common/src/ConfiguModule.ts
  packages/common/src/utils/Input.ts
  packages/common/src/utils/Misc.ts
  packages/common/src/utils/Modules.ts
  packages/common/src/utils/index.ts
  packages/sdk/src/ConfigSchema.ts
  packages/sdk/src/commands/EvalCommand.ts
  patches/giget.patch
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

V1 Fixes (#715)
  .github/workflows/cd-cli.yml
  .vscode/launch.json
  examples/playground/stdin
  packages/cli/install.ps1
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/eval.ts
  packages/cli/src/commands/export.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/install.ts
  packages/cli/src/commands/purge.ts
  packages/cli/src/commands/upsert.ts
  packages/cli/src/index.ts
  packages/cli/tsup.config.ts
  packages/common/package.json
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/ConfiguInterface.ts
  packages/common/src/ConfiguModule.ts
  packages/common/src/utils/Input.ts
  packages/common/src/utils/Misc.ts
  packages/common/src/utils/Modules.ts
  packages/common/src/utils/index.ts
  packages/sdk/src/ConfigSchema.ts
  packages/sdk/src/commands/EvalCommand.ts
  patches/giget.patch
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: adjust cli windows install script
  packages/cli/install.ps1
Due: none

Fix CLI install script for Windows (#716)
  packages/cli/install.ps1
Due: none

fix(formatters): export dotenv with special charachters
  packages/formatters/src/Dotenv.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

format fix
  docs/integrations/store/configu/integrations.mdx
  docs/interfaces/.cfgu.mdx
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

Update ConfiguModule.ts
  packages/common/src/ConfiguModule.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Revert "format fix"
  docs/integrations/store/configu/integrations.mdx
  docs/interfaces/.cfgu.mdx
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

fix(formatters): export dotenv with special characters (#717)
  packages/formatters/src/Dotenv.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update setup.mdx
  docs/interfaces/cli/setup.mdx
Due: none

convert configmap values to string
  packages/formatters/src/YAML.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat(cli): better docker image
  .dockerignore
  packages/cli/Dockerfile
Due: none

docker layer caching
  .github/workflows/cd-cli.yml
Due: none

dev on win
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: pnpm prettier --ignore-path .gitignore --write

Path conditions:
  pnpm build --force: any of: packages/**/*.ts
  pnpm prettier --ignore-path .gitignore --write: (any of: *.{js,mjs,ts}) or (any of: *.{md,json,yaml})
  pnpm eslint --ignore-path .gitignore --cache --fix: any of: *.{js,mjs,ts}
