Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["pnpm build --force"],
  "*.{js,mjs,ts}": [
    "pnpm prettier --ignore-path .gitignore --write",
    "pnpm eslint --ignore-path .gitignore --cache --fix"
  ],
  "*.{md,json,yaml}": ["pnpm prettier --ignore-path .gitignore --write"]
}

Update cd-cli.yml
  .github/workflows/cd-cli.yml
Due: none

fix sh
  .github/configs/node-dist.txt
  packages/cli/install.sh
Due: none

feat: implement backwards compatibility with legacy schema
  packages/sdk/src/ConfigSchema.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix-dockerfile-for-docker-exec
  packages/cli/Dockerfile
Due: none

try fix cd win
  packages/cli/compile.mts
  packages/cli/package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

allow nullable cfgu
  packages/sdk/src/Cfgu.ts
  packages/sdk/src/ConfigValue.ts
  packages/sdk/src/commands/EvalCommand.ts
  packages/sdk/src/commands/ExportCommand.ts
  packages/sdk/src/commands/UpsertCommand.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update .cfgu.json
  packages/schema/.cfgu.json
Due: pnpm prettier --ignore-path .gitignore --write

fixes
  packages/cli/compile.mts
  packages/cli/package.json
  playground/test.cfgu.yaml
Due: pnpm prettier --ignore-path .gitignore --write

cli docker and install scripts
  .vscode/launch.json
  packages/cli/Dockerfile
  packages/cli/install.ps1
  packages/cli/install.sh
  packages/cli/package.json
  packages/proxy/package.json
  playground/.configu
  playground/store.json
  playground/test.cfgu.yaml
Due: pnpm prettier --ignore-path .gitignore --write

install script
  packages/cli/install.ps1
  packages/cli/install.sh
Due: none

Update compile.mts
  packages/cli/compile.mts
Due: none

fix docker
  packages/cli/Dockerfile
  packages/cli/install.cjs
  packages/cli/install.sh
  packages/cli/package.json
Due: pnpm prettier --ignore-path .gitignore --write

chore: adjustments made with ran
  packages/sdk/src/ConfigExpression.ts
  packages/sdk/src/ConfigSchema.ts
  packages/sdk/src/ConfigValue.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: update dependency check to ensure storedValue is not empty
  packages/sdk/src/ConfigSchema.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

refactor: leverage config expression utils for legacy config schema logic
  packages/sdk/src/ConfigExpression.ts
  packages/sdk/src/ConfigSchema.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

remote load stores
  playground/.configu
Due: none

Add backwards compatibility for legacy ConfigSchemas (#668)
  packages/sdk/src/ConfigExpression.ts
  packages/sdk/src/ConfigSchema.ts
  packages/sdk/src/ConfigValue.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

remote load stores
  packages/common/src/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

import after compile
  packages/cli/src/helpers/utils.ts
  packages/cli/src/run.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/logger.ts
  packages/common/src/utils.ts
  playground/store.json
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fixes
  .github/workflows/cd-cli.yml
  .vscode/launch.json
  package.json
  packages/cli/.gitignore
  packages/cli/Dockerfile
  packages/cli/README.md
  packages/cli/build.mts
  packages/cli/compile.mts
  packages/cli/compiler/darwin.ts
  packages/cli/compiler/download-file.ts
  packages/cli/compiler/gz.ts
  packages/cli/compiler/index.ts
  packages/cli/compiler/linux.ts
  packages/cli/compiler/node-downloader.ts
  packages/cli/compiler/test/installation.test.ts
  packages/cli/compiler/win32.ts
  packages/cli/install.cjs
  packages/cli/package.json
  packages/cli/sea-config.json
  packages/cli/src/configu.ts
  packages/cli/tsup.config.ts
  packages/proxy/Dockerfile
  packages/schema/build.mts
  playground/test.cfgu.yaml
  pnpm-lock.yaml
  sbom.mts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

revert CONFIGU_DEBUG
  packages/cli/src/configu.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/logger.ts
  packages/common/src/utils.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update action.yml
  .github/actions/ts-env-action/action.yml
Due: none

fixes
  .github/workflows/cd-cli.yml
  packages/cli/build.mts
  sbom.mts
Due: none

fixes
  .github/workflows/cd-cli.yml
  packages/cli/build.mts
Due: none

fixes
  .github/workflows/cd-cli.yml
  packages/cli/Dockerfile
  packages/cli/install.ps1
  packages/cli/install.sh
Due: none

Update install.sh
  packages/cli/install.sh
Due: none

fixes
  .github/workflows/cd-cli.yml
  packages/cli/install.ps1
Due: none

Update cd-ts.yml
  .github/workflows/cd-ts.yml
Due: none

fix
  packages/cli/package.json
  packages/sdk/package.json
Due: pnpm prettier --ignore-path .gitignore --write

#671 - [V1] docs | hashicorp vault not supprt root set
  docs/integrations/store/secret/hashicorp-vault.mdx
Due: none

move vault store to stores lib
  packages/integrations/stores/hashicorp-vault/tsconfig.json
  packages/integrations/stores/hashicorp-vault/tsup.config.ts
  packages/stores/hashicorp-vault/README.md
  packages/stores/hashicorp-vault/package.json
  packages/stores/hashicorp-vault/src/index.ts
  packages/stores/hashicorp-vault/tsconfig.json
  packages/stores/json-file/README.md
  packages/stores/key-value/README.md
  packages/stores/key-value/package.json
  packages/stores/key-value/src/index.ts
  packages/stores/key-value/tsconfig.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix remote store import
  packages/common/src/ConfiguFile.ts
  packages/common/src/logger.ts
  packages/common/src/utils.ts
  playground/.configu
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix relative imports
  packages/common/src/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

move aws-parameter-store to stores lib
  packages/common/package.json
  packages/common/src/index.ts
  packages/integrations/stores/aws-parameter-store/package.json
  packages/integrations/stores/aws-parameter-store/tsconfig.json
  packages/integrations/stores/aws-parameter-store/tsup.config.ts
  packages/integrations/stores/json-file/README.md
  packages/integrations/stores/json-file/src/json-file.ts
  packages/integrations/stores/json-file/tsconfig.json
  packages/integrations/stores/json-file/tsup.config.ts
  packages/integrations/stores/postgresql/README.md
  packages/integrations/stores/postgresql/package.json
  packages/integrations/stores/postgresql/src/postgresql.ts
  packages/integrations/stores/postgresql/tsconfig.json
  packages/integrations/stores/postgresql/tsup.config.ts
  packages/integrations/stores/sqlite/README.md
  packages/integrations/stores/sqlite/package.json
  packages/integrations/stores/sqlite/src/sqlite.ts
  packages/integrations/stores/sqlite/tsconfig.json
  packages/integrations/stores/sqlite/tsup.config.ts
  packages/stores/aws-parameter-store/README.md
  packages/stores/aws-parameter-store/package.json
  packages/stores/aws-parameter-store/src/index.ts
  packages/stores/aws-parameter-store/tsconfig.json
  packages/stores/hashicorp-vault/package.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix
