Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

autofill for arch
  packages/cli/compiler/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

651 - CLI - deployment and installation script #651 (#652)
  .github/actions/deploy-start-action/action.yml
  .github/workflows/cd-cli.yml
  packages/cli/.gitignore
  packages/cli/Dockerfile
  packages/cli/compiler/darwin.ts
  packages/cli/compiler/download-file.ts
  packages/cli/compiler/gz.ts
  packages/cli/compiler/index.ts
  packages/cli/compiler/linux.ts
  packages/cli/compiler/node-downloader.ts
  packages/cli/compiler/test/installation.test.ts
  packages/cli/compiler/win32.ts
  packages/cli/install.sh
  packages/cli/package.json
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

repo scripts and tools
  .devcontainer/Dockerfile
  .github/workflows/cd-proxy.yml
  .gitignore
  .lintstagedrc.js
  .node-version
  .npmrc
  .nvmrc
  CONTRIBUTING.md
  package-lock.json
  package.json
  packages/cli/package.json
  packages/cli/src/commands/upsert.ts
  packages/common/src/index.ts
  packages/schema/.cfgu.json
  packages/schema/.configu.json
  packages/schema/build.mts
  packages/schema/package.json
  packages/sdk/package.json
  packages/sdk/tsup.config.ts
  playground/.configu
  playground/flatten.cfgu.json
  playground/module.js
  playground/store.json
  playground/test.cfgu.yaml
  playground/unified.cfgu.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

restructure
  packages/common/src/ConfiguFile.ts
  packages/formatters/package.json
  packages/formatters/src/ConfigFormatter.ts
  packages/formatters/src/Dotenv.ts
  packages/formatters/src/HelmValues.ts
  packages/formatters/src/JSON.ts
  packages/formatters/src/TOML.ts
  packages/formatters/src/YAML.ts
  packages/formatters/src/index.ts
  packages/formatters/tsconfig.json
  packages/integrations/expressions/package.json
  packages/integrations/expressions/src/index.ts
  packages/integrations/formatters/tsconfig.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update ConfiguFile.ts
  packages/common/src/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update package.json
  packages/schema/package.json
Due: pnpm prettier --ignore-path .gitignore --write

fix schema building
  packages/schema/build.mts
  packages/schema/package.json
Due: pnpm prettier --ignore-path .gitignore --write

try fix
  packages/schema/build.mts
  packages/schema/package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

fixes
  .github/workflows/cd-cli.yml
  packages/sdk/src/ConfigExpression.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix store namings
  package.json
  packages/cli/src/integration_template/tsup.config.ts
  packages/cli/tsup.config.ts
  packages/integrations/stores/aws-parameter-store/tsup.config.ts
  packages/integrations/stores/aws-secrets-manager/tsup.config.ts
  packages/integrations/stores/azure-key-vault/tsup.config.ts
  packages/integrations/stores/cloud-bees/tsup.config.ts
  packages/integrations/stores/cockroach-db/tsup.config.ts
  packages/integrations/stores/configu/tsup.config.ts
  packages/integrations/stores/csv-file/tsup.config.ts
  packages/integrations/stores/etcd/tsup.config.ts
  packages/integrations/stores/gcp-secret-manager/tsup.config.ts
  packages/integrations/stores/hashicorp-vault/tsup.config.ts
  packages/integrations/stores/ini-file/tsup.config.ts
  packages/integrations/stores/json-file/tsup.config.ts
  packages/integrations/stores/keyv/tsup.config.ts
  packages/integrations/stores/kubernetes-secret/tsup.config.ts
  packages/integrations/stores/launch-darkly/tsup.config.ts
  packages/integrations/stores/localforage/tsup.config.ts
  packages/integrations/stores/mariadb/tsup.config.ts
  packages/integrations/stores/mssql/tsup.config.ts
  packages/integrations/stores/mysql/tsup.config.ts
  packages/integrations/stores/postgresql/tsup.config.ts
  packages/integrations/stores/split/tsup.config.ts
  packages/integrations/stores/sqlite/tsup.config.ts
  packages/integrations/stores/toml-file/tsup.config.ts
  packages/integrations/stores/xml-file/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: update configuration file references to use CONFIGU_CONFIG environment variable
  docs/interfaces/.configu.mdx
  docs/interfaces/proxy/setup.mdx
Due: none

docs: enhance .configu documentation to include default store configuration details
  docs/interfaces/.configu.mdx
Due: none

docs: reorganize v1 migration guide sections for clarity and enhance default ConfigStore explanation
  docs/guides/v1-migration.mdx
Due: none

docs: clarify type coercion descriptions and correct formatting examples in v1 migration guide
  docs/guides/v1-migration.mdx
Due: none

docs: add references to JSONSchema, Zod, and Chai utilities in ConfigExpression
  docs/introduction/concepts.mdx
Due: none

docs: add labels field to config response and correct typos in documentation
  docs/interfaces/.cfgu.mdx
Due: none

docs: correct typos in proxy reference documentation and clarify export response format
  docs/interfaces/proxy/ref.mdx
Due: none

docs: correct spelling of 'Acorn' in concepts documentation
  docs/introduction/concepts.mdx
Due: none

docs: update test assertions in v1 migration guide to use expect syntax for consistency
  docs/guides/v1-migration.mdx
Due: none

docs: update validation tests in HashiCorp Vault guide to use Chai expect syntax
  docs/guides/hashicorp-vault.mdx
Due: none

docs: add examples for ConfigExpression in YAML and JSON formats
  docs/interfaces/.cfgu.mdx
Due: none

docs: enhance v1 migration guide with examples for new `test` and `const` properties
  docs/guides/v1-migration.mdx
Due: none

Add "Open with Codeanywhere" badge to README.md
  README.md
Due: pnpm prettier --ignore-path .gitignore --write

fix login command
  .vscode/launch.json
  packages/cli/src/commands/login.ts
  packages/cli/tsup.config.ts
  packages/common/tsconfig.json
  packages/integrations/stores/configu/src/configu.ts
  packages/sdk/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix cli
  packages/cli/package.json
  packages/cli/sea-config.json
Due: pnpm prettier --ignore-path .gitignore --write

Fix #665 deal with errors in stores
  packages/integrations/src/utils/KeyValue.ts
  packages/integrations/stores/aws-parameter-store/src/aws-parameter-store.ts
  packages/integrations/stores/aws-secrets-manager/src/aws-secrets-manager.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

set cli build to cjs
  packages/cli/package.json
  packages/cli/sea-config.json
  packages/cli/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update cd-store.yml
  .github/workflows/cd-store.yml
Due: none

cd-cli
  .github/workflows/cd-store.yml
  packages/stores/json-file/package.json
  packages/stores/postgres/package.json
Due: pnpm prettier --ignore-path .gitignore --write

fixes
  .github/actions/deploy-start-action/action.yml
  .github/actions/ts-env-action/action.yml
  .github/workflows/cd-store.yml
Due: none

Update action.yml
  .github/actions/ts-env-action/action.yml
Due: none

Update action.yml
  .github/actions/get-release-action/action.yml
Due: none

Path conditions:
  pnpm build --force: any of: packages/**/*.ts
  pnpm prettier --ignore-path .gitignore --write: (any of: *.{js,mjs,ts}) or (any of: *.{md,json,yaml})
  pnpm eslint --ignore-path .gitignore --cache --fix: any of: *.{js,mjs,ts}
