Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Create .lintstagedrc.mjs
  .lintstagedrc.mjs
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

lint-staged
  .lintstagedrc.mjs
  packages/ts/src/utils.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Create .lintstagedrc.js
  .lintstagedrc.js
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update concepts.mdx
  docs/introduction/concepts.mdx
Due: none

last fixes
  docs/integrations/overview.mdx
  docs/integrations/store/configu/authorization.mdx
  docs/integrations/store/configu/config-history.mdx
  docs/interfaces/cli/ref.mdx
  docs/interfaces/sdk/ts/globals.mdx
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

Delete command-ref.mdx
  docs/interfaces/cli/command-ref.mdx
Due: none

fix publish step
  .github/workflows/cd-lib.yml
  .github/workflows/cd-ts.yml
Due: none

Update cd-ts.yml
  .github/workflows/cd-ts.yml
Due: none

publish fix
  .github/workflows/cd-lib.yml
  .github/workflows/cd-ts.yml
Due: none

fix cd-ts
  .github/actions/deploy-start-action/action.yml
  .github/workflows/cd-cli.yml
  .github/workflows/cd-ts.yml
Due: none

Update cd-cli.yml
  .github/workflows/cd-cli.yml
Due: none

fix cd-cli
  .github/actions/ts-env-action/action.yml
  .github/workflows/cd-cli.yml
Due: none

Update action.yml
  .github/actions/ts-env-action/action.yml
Due: none

Update prepare.mjs
  docs/prepare.mjs
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore
  .devcontainer/devcontainer.json
  .gitpod.yml
  CONTRIBUTING.md
  README.md
Due: pnpm prettier --ignore-path .gitignore --write

cloud development environment
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitpod.yml
Due: pnpm prettier --ignore-path .gitignore --write

Update Dockerfile
  .devcontainer/Dockerfile
Due: none

gitpod
  .devcontainer/Dockerfile
  CONTRIBUTING.md
  README.md
Due: pnpm prettier --ignore-path .gitignore --write

devcontainer
  .devcontainer/Dockerfile
Due: none

Fix documentation typos and grammar issues (#428)
  docs/guides/hashicorp-vault.mdx
  docs/guides/hello-world.mdx
  docs/integrations/framework/app/expo.mdx
  docs/integrations/overview.mdx
  docs/interfaces/.cfgu.mdx
  docs/interfaces/.configu.mdx
  docs/interfaces/cli/setup.mdx
  docs/interfaces/overview.mdx
Due: none

Updated docs for graph, grid and list views (#429)
  docs/images-old/configs-explorer/config-explorer-actions.png
  docs/images-old/configs-explorer/configs-filters.png
  docs/images-old/configs-explorer/platform-configs-explorer-configs.jpg
  docs/images-old/configs-explorer/platform-configs-explorer-sets.png
  docs/images-old/configu-cloud.png
  docs/images/configs-explorer/config-explorer-actions.png
  docs/images/configs-explorer/configs-filters.png
  docs/images/configs-explorer/configs-grid-menus.png
  docs/images/configs-explorer/platform-configs-explorer-configs.png
  docs/images/configs-explorer/platform-configs-explorer-grid.png
  docs/images/configs-explorer/platform-configs-explorer-sets.png
  docs/images/configs-explorer/sets-graph-menu.png
  docs/images/configu-cloud.png
  docs/integrations/store/configu/config-explorer.mdx
  docs/integrations/store/configu/overview.mdx
Due: none

Added docs for CLI caching configurations in .configu (#427)
  docs/interfaces/.configu.mdx
Due: none

feat: add minimalistic search component until design is provided
  ts/package-lock.json
  ts/packages/ui/package.json
  ts/packages/ui/src/components/Command.tsx
  ts/packages/ui/src/components/Dialog.tsx
  ts/packages/ui/src/components/Popover.tsx
  ts/packages/ui/src/components/Search.tsx
  ts/packages/ui/src/components/index.tsx
Due: pnpm prettier --ignore-path .gitignore --write

refactor: move ui package
  packages/ui/README.md
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/postcss.config.js
  packages/ui/src/components/AppContainer.tsx
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/Checkbox.tsx
  packages/ui/src/components/CodeSnippet.tsx
  packages/ui/src/components/Command.tsx
  packages/ui/src/components/Dialog.tsx
  packages/ui/src/components/Dropdown.tsx
  packages/ui/src/components/Icons.tsx
  packages/ui/src/components/Input.tsx
  packages/ui/src/components/LayoutSwitch.tsx
  packages/ui/src/components/Message.tsx
  packages/ui/src/components/Popover.tsx
  packages/ui/src/components/Search.tsx
  packages/ui/src/components/Switch.tsx
  packages/ui/src/components/Typography.tsx
  packages/ui/src/components/index.tsx
  packages/ui/src/globals.css
  packages/ui/src/lib/utils.ts
  packages/ui/tailwind.config.ts
  packages/ui/tsconfig.json
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: adjust pkg json of configu/ui
  packages/ui/package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

refactor: add fontsource dep
  packages/ui/package.json
  packages/ui/src/globals.css
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: adjust layout switch
  packages/ui/src/components/LayoutSwitch.tsx
Due: none

chore: adjust default typography color
  packages/ui/src/components/Typography.tsx
Due: none

chore: undo font color
  packages/ui/src/components/Typography.tsx
Due: none

fix: gray 800 color
  packages/ui/tailwind.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: red 900 color
  packages/ui/tailwind.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

@configu/schema
  packages/schema/.cfgu.json
  packages/schema/.configu.json
  packages/schema/README.md
  packages/schema/data/.configu.yml
  packages/schema/data/test.cfgu.json
  packages/schema/data/test.cfgu.yml
  packages/schema/package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

update docs of @configu/schema
  docs/interfaces/.cfgu.mdx
  docs/interfaces/.configu.mdx
  packages/schema/README.md
Due: pnpm prettier --ignore-path .gitignore --write

chore: remove icon fill nones
  packages/ui/src/components/Icons.tsx
Due: none

Path conditions:
  pnpm build --force: any of: packages/**/*.ts
  pnpm prettier --ignore-path .gitignore --write: (any of: *.{js,mjs,ts}) or (any of: *.{md,json,yaml})
  pnpm eslint --ignore-path .gitignore --cache --fix: any of: *.{js,mjs,ts}
