Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["pnpm build --force"],
  "*.{js,mjs,ts}": [
    "pnpm prettier --ignore-path .gitignore --write",
    "pnpm eslint --ignore-path .gitignore --cache --fix"
  ],
  "*.{md,json,yaml}": ["pnpm prettier --ignore-path .gitignore --write"]
}

fixes
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/install.ts
  packages/cli/src/commands/purge.ts
  packages/cli/src/index.ts
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/ConfiguInterface.ts
  packages/proxy/src/index.ts
  packages/stores/database/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Develop on windows (#724)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: pnpm prettier --ignore-path .gitignore --write

no need for default /app workdir
  packages/cli/Dockerfile
Due: none

Fix local `.configu` init and SQLite store indexes (#726)
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/install.ts
  packages/cli/src/commands/purge.ts
  packages/cli/src/index.ts
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/ConfiguInterface.ts
  packages/proxy/src/index.ts
  packages/stores/database/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fixes
  examples/playground/tmpl
  packages/common/src/ConfiguInterface.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fixes
  .github/actions/get-release-action/action.yml
  packages/common/src/ConfiguInterface.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fixes
  .vscode/launch.json
  packages/common/src/ConfiguInterface.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

725 - Pass Cfgu to store in Upsert command
  packages/sdk/src/Config.ts
  packages/sdk/src/commands/UpsertCommand.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: update login command to use 'configu-platform' type for local storage
  packages/cli/src/commands/login.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

undo diff
  packages/cli/src/commands/login.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Fix CLI login command (#732)
  packages/cli/src/commands/login.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

hcp-vault-secrets store
  examples/playground/.configu
  examples/playground/tmpl2
  packages/stores/hashicorp-vault/src/index.ts
  packages/stores/hcp-vault-secrets/README.md
  packages/stores/hcp-vault-secrets/package.json
  packages/stores/hcp-vault-secrets/src/index.ts
  packages/stores/hcp-vault-secrets/tsconfig.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

update axios
  packages/common/package.json
  packages/stores/configu-platform/package.json
  packages/stores/hashicorp-vault/package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

fix: update file config stores to only upsert key set and values explicitly
  packages/stores/file/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update export.ts
  packages/cli/src/commands/export.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Restore `wrap: true` for `--source` cli export flag (#735)
  packages/cli/src/commands/export.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: update store type to in overview and README
  docs/integrations/store/configu/overview.mdx
  packages/stores/configu-platform/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update configu platform snippets (#736)
  docs/integrations/store/configu/overview.mdx
  packages/stores/configu-platform/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update init.ts
  packages/cli/src/commands/init.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Revert "Update init.ts"
  packages/cli/src/commands/init.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

725 - Pass Cfgu to store in Upsert command (#729)
  packages/sdk/src/Config.ts
  packages/sdk/src/commands/UpsertCommand.ts
  packages/stores/file/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update init.ts (#738)
  packages/cli/src/commands/init.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: enable config key validation in config schema creation
  packages/sdk/src/ConfigSchema.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Fix missing config key validation in config schema creation (#741)
  packages/sdk/src/ConfigSchema.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

upsert command improvements
  packages/cli/package.json
  packages/cli/src/commands/upsert.ts
  packages/common/package.json
  packages/common/src/utils/Misc.ts
  packages/schema/.cfgu.json
  packages/schema/data/.configu.yaml
  packages/schema/data/test.cfgu.json
  packages/schema/data/test.cfgu.yml
  packages/schema/data/xy.cfgu.yaml
  packages/sdk/src/Cfgu.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/ConfigKey.ts
  packages/sdk/src/ConfigSchema.ts
  packages/sdk/src/ConfigSet.ts
  packages/sdk/src/ConfigStore.ts
  packages/sdk/src/ConfigValue.ts
  packages/sdk/src/commands/EvalCommand.ts
  packages/sdk/src/commands/ExportCommand.ts
  packages/sdk/src/commands/UpsertCommand.ts
  packages/stores/configu-platform/src/index.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

tbc
  .vscode/launch.json
  examples/playground/test.cfgu.yaml
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/upsert.ts
  packages/common/package.json
  packages/common/src/utils/FileSystem.ts
  packages/common/src/utils/Misc.ts
  packages/schema/.cfgu.json
  packages/sdk/src/Cfgu.ts
  packages/sdk/src/ConfigSchema.ts
  packages/sdk/src/ConfigStore.ts
  packages/sdk/src/commands/UpsertCommand.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

updates
  packages/formatters/package.json
  packages/stores/configu-platform/package.json
  packages/stores/hashicorp-vault/package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

new example
  examples/terraform-busybox/.gitignore
  examples/terraform-busybox/.terraform.lock.hcl
  examples/terraform-busybox/README.md
  examples/terraform-busybox/main.tf
  examples/terraform-busybox/outputs.cfgu.yaml
  examples/terraform-busybox/outputs.json
  examples/terraform-busybox/outputs.tf
  examples/terraform-busybox/variables.cfgu.yaml
  examples/terraform-busybox/variables.tf
Due: pnpm prettier --ignore-path .gitignore --write

finalize cmd
  .vscode/launch.json
  examples/playground/test.cfgu.yaml
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/upsert.ts
  packages/common/src/utils/Misc.ts
  packages/common/src/utils/OutputStreams.ts
  packages/sdk/src/ConfigExpression.ts
  packages/sdk/src/ConfigSchema.ts
  packages/sdk/src/ConfigSet.ts
  packages/sdk/src/commands/EvalCommand.ts
  packages/sdk/src/commands/UpsertCommand.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update packages/cli/src/commands/upsert.ts
  packages/cli/src/commands/upsert.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

last touches
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/upsert.ts
  packages/sdk/src/Cfgu.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Upsert command improvements (#743)
  .vscode/launch.json
  examples/playground/test.cfgu.yaml
  packages/cli/package.json
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/upsert.ts
  packages/common/package.json
  packages/common/src/utils/FileSystem.ts
  packages/common/src/utils/Misc.ts
  packages/common/src/utils/OutputStreams.ts
  packages/formatters/package.json
  packages/schema/.cfgu.json
  packages/schema/data/.configu.yaml
  packages/schema/data/test.cfgu.json
  packages/schema/data/test.cfgu.yml
  packages/schema/data/xy.cfgu.yaml
  packages/sdk/src/Cfgu.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/ConfigExpression.ts
  packages/sdk/src/ConfigKey.ts
  packages/sdk/src/ConfigSchema.ts
  packages/sdk/src/ConfigSet.ts
  packages/sdk/src/ConfigStore.ts
  packages/sdk/src/ConfigValue.ts
  packages/sdk/src/commands/EvalCommand.ts
  packages/sdk/src/commands/ExportCommand.ts
  packages/sdk/src/commands/UpsertCommand.ts
  packages/stores/configu-platform/package.json
  packages/stores/configu-platform/src/index.ts
  packages/stores/hashicorp-vault/package.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

readme
  README.md
  docs/images/banner/readme-equation.svg
Due: pnpm prettier --ignore-path .gitignore --write

Move pnpm config from .npmrc to pnpm-workspace.yaml
  .npmrc
  pnpm-workspace.yaml
  prepare.mts
Due: pnpm prettier --ignore-path .gitignore --write

Upgrade Node to LTS
  .devcontainer/Dockerfile
  .node-version
  .nvmrc
  package.json
  packages/cli/Dockerfile
  packages/common/package.json
  packages/proxy/Dockerfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prepare.mts
Due: pnpm prettier --ignore-path .gitignore --write

Upgrade deps
  docs/package.json
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/formatters/package.json
  packages/proxy/package.json
  packages/sdk/package.json
  packages/stores/kubernetes-secret/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm prettier --ignore-path .gitignore --write

Upgrade deps with Syncpack
  packages/stores/configu-platform/package.json
  packages/stores/hashicorp-vault/package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

Revert catalog to avoid damaging the ConfiguMoudle loader
  docs/package.json
  package.json
  packages/common/package.json
  packages/formatters/package.json
  packages/proxy/package.json
  packages/sdk/package.json
  packages/stores/kubernetes-secret/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prepare.mts
Due: pnpm prettier --ignore-path .gitignore --write

Update action.yml
  .github/actions/ts-env-action/action.yml
Due: none
