Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["pnpm build --force"],
  "*.{js,mjs,ts}": [
    "pnpm prettier --ignore-path .gitignore --write",
    "pnpm eslint --ignore-path .gitignore --cache --fix"
  ],
  "*.{md,json,yaml}": ["pnpm prettier --ignore-path .gitignore --write"]
}

Change store integration build to cjs (#649)
  packages/integrations/stores/aws-parameter-store/tsup.config.ts
  packages/integrations/stores/aws-secrets-manager/tsup.config.ts
  packages/integrations/stores/azure-key-vault/tsup.config.ts
  packages/integrations/stores/cloud-bees/tsup.config.ts
  packages/integrations/stores/cockroach-db/tsup.config.ts
  packages/integrations/stores/configu/tsup.config.ts
  packages/integrations/stores/csv-file/tsup.config.ts
  packages/integrations/stores/etcd/tsup.config.ts
  packages/integrations/stores/gcp-secret-manager-config-store/tsup.config.ts
  packages/integrations/stores/hashicorp-vault/tsup.config.ts
  packages/integrations/stores/ini-file/tsup.config.ts
  packages/integrations/stores/json-file/tsup.config.ts
  packages/integrations/stores/key-v/tsup.config.ts
  packages/integrations/stores/kubernetes-secret-store/tsup.config.ts
  packages/integrations/stores/launch-darkly/tsup.config.ts
  packages/integrations/stores/localforage/tsup.config.ts
  packages/integrations/stores/mariadb/tsup.config.ts
  packages/integrations/stores/ms-sql/tsup.config.ts
  packages/integrations/stores/my-sql/tsup.config.ts
  packages/integrations/stores/postgresql/tsup.config.ts
  packages/integrations/stores/split/tsup.config.ts
  packages/integrations/stores/sqlite/tsup.config.ts
  packages/integrations/stores/toml-file/tsup.config.ts
  packages/integrations/stores/xml-file/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: draft of migration guide
  docs/interfaces/v1-migration-guide.mdx
  docs/mint.json
Due: pnpm prettier --ignore-path .gitignore --write

Add docs for `@configu-integrations/configu` (#645)
  packages/integrations/stores/configu/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Add a `React Native` guide to Configu docs (#604)
  docs/guides/react-native.mdx
  docs/mint.json
Due: pnpm prettier --ignore-path .gitignore --write

chore: move guide placement
  docs/guides/v1-migration.mdx
  docs/interfaces/v1-migration-guide.mdx
  docs/mint.json
Due: pnpm prettier --ignore-path .gitignore --write

651 - CLI - deployment and installation script #651
  .github/workflows/cd-cli.yml
  packages/cli/Dockerfile
  packages/cli/install.sh
Due: none

fix linux compiler
  packages/cli/compiler/linux.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

win32 compiler fix
  packages/cli/compiler/win32.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix dynamic import for win32
  packages/cli/compiler/index.ts
  packages/cli/compiler/win32.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix dynamic import for win32
  packages/cli/compiler/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

install signtool on windows build
  .github/workflows/cd-cli.yml
Due: none

install signtool on windows build
  .github/workflows/cd-cli.yml
  packages/cli/compiler/win32.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

install signtool on windows build
  packages/cli/compiler/win32.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

ignore signature
  packages/cli/compiler/win32.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

release and docker tag
  .github/workflows/cd-cli.yml
Due: none

release name
  .github/workflows/cd-cli.yml
Due: none

docker tags name
  .github/workflows/cd-cli.yml
Due: none

use correct version
  packages/cli/install.sh
Due: none

docker tag name
  .github/workflows/cd-cli.yml
Due: none

add curl to docker image
  packages/cli/Dockerfile
Due: none

debug-locally: add debug configuration for proxy
  .vscode/launch.json
Due: pnpm prettier --ignore-path .gitignore --write

refactor: update imports to use node: prefix for os and fs modules
  packages/common/src/utils.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

refactor: rename cache directory to integrations and update related methods
  packages/common/src/Registry.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

refactor: replace getConfiguHomeDir with getConfiguHomeDirSafely for improved directory handling
  packages/cli/src/commands/base.ts
  packages/common/src/Registry.ts
  packages/common/src/utils.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

refactor: update fs import and use fs.mkdir for directory creation
  packages/cli/src/commands/base.ts
  packages/common/src/Registry.ts
  packages/common/src/utils.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

refactor: lazy load integration modules in CliExportCommand for improved performance
  packages/cli/src/commands/export.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: update v1 migration guide
  docs/guides/v1-migration.mdx
Due: none

fix: config store docs
  packages/integrations/stores/aws-secrets-manager/README.md
  packages/integrations/stores/toml-file/README.md
Due: pnpm prettier --ignore-path .gitignore --write

docs: update internal SDK terminology in overview documentation
  docs/introduction/overview.mdx
Due: none

fix: broken links due to changed project structure
  CONTRIBUTING.md
  docs/integrations/overview-all.mdx
  docs/integrations/overview.mdx
Due: pnpm prettier --ignore-path .gitignore --write

651 - CLI - deployment and installation script #651
  .github/workflows/cd-cli.yml
  packages/cli/Dockerfile
  packages/cli/compiler/index.ts
  packages/cli/compiler/linux.ts
  packages/cli/compiler/win32.ts
  packages/cli/install.sh
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: concepts page for v1
  docs/introduction/concepts.mdx
Due: none

compress after compile
  packages/cli/compiler/darwin.ts
  packages/cli/compiler/gz.ts
  packages/cli/compiler/index.ts
  packages/cli/compiler/linux.ts
  packages/cli/compiler/win32.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: update workflow to reflect v1
  docs/introduction/workflow.mdx
Due: none

remove exe in gz name
  packages/cli/compiler/gz.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix
