Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

cli github action
  .github/workflows/cd-cli.yml
Due: none

fix bin name
  packages/cli/package.json
Due: pnpm prettier --ignore-path .gitignore --write

feature/508-migrate-postgreSQLConfigStore adding typeorm as a dependency
  packages/integrations/stores/postgre-sql-config-store/package.json
Due: pnpm prettier --ignore-path .gitignore --write

feature/508-migrate-postgreSQLConfigStore changing call to super as it accepts only 1 argument and adding lock file
  packages/integrations/stores/postgre-sql-config-store/src/postgre-sql-config-store.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feature/508-migrate-postgreSQLConfigStore adding src files in package.json
  packages/integrations/stores/postgre-sql-config-store/package.json
Due: pnpm prettier --ignore-path .gitignore --write

fix: validators being incorrectly registered in the registry
  packages/common/src/Registry.ts
  packages/common/src/built-in-integrations.ts
  packages/integrations/expressions/validator/src/validators.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Fix `@configu-integrations/validator` registration in `@configu/common` (#608)
  packages/common/src/Registry.ts
  packages/common/src/built-in-integrations.ts
  packages/integrations/expressions/validator/src/validators.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat: impl global flags for @configu/cli
  packages/cli/src/commands/base.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

safe-import of node libs
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/export.ts
  packages/cli/src/commands/login.ts
  packages/cli/src/helpers/utils.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

503 - compile scripts to compile the cli to each os
  .github/workflows/cd-cli.yml
  packages/cli/.gitignore
  packages/cli/compiler/darwin.ts
  packages/cli/compiler/index.ts
  packages/cli/compiler/linux.ts
  packages/cli/compiler/win32.ts
  packages/cli/package.json
  packages/cli/sea-config.json
  packages/common/src/Registry.ts
  packages/sdk/src/core/ConfigStore.ts
  packages/sdk/src/utils/Expression.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

define filename
  packages/cli/compiler/darwin.ts
  packages/cli/compiler/index.ts
  packages/cli/compiler/linux.ts
  packages/cli/compiler/win32.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

improve test api
  packages/integrations/src/test-utils/index.ts
  packages/integrations/src/test-utils/test-bed.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

rename to test-kit
  packages/integrations/src/test-kit/index.ts
  packages/integrations/src/test-kit/mock-store.ts
  packages/integrations/src/test-kit/test-bed.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feature/508-migrate-postgreSQLConfigStore renaming occurrances to postrgresql
  packages/integrations/stores/postgresql/package.json
  packages/integrations/stores/postgresql/src/postgresql.ts
  packages/integrations/stores/postgresql/tsconfig.json
  packages/integrations/stores/postgresql/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feature/508-migrate-postgreSQLConfigStore adding initial README file
  packages/integrations/stores/postgresql/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Create README.md
  packages/integrations/stores/my-sql/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Added complete docs to the README
  packages/integrations/stores/my-sql/README.md
Due: pnpm prettier --ignore-path .gitignore --write

feature/508-migrate-postgreSQLConfigStore updating readme
  packages/integrations/stores/postgresql/README.md
Due: pnpm prettier --ignore-path .gitignore --write

feature/508-migrate-postgreSQLConfigStore updating readme with reference link
  packages/integrations/stores/postgresql/README.md
Due: pnpm prettier --ignore-path .gitignore --write

docs(concepts): update links to core types
  docs/introduction/concepts.mdx
Due: none

Update packages/integrations/stores/my-sql/README.md
  packages/integrations/stores/my-sql/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  packages/integrations/stores/my-sql/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Updated with Example section removed irrelevant section
  packages/integrations/stores/my-sql/README.md
Due: pnpm prettier --ignore-path .gitignore --write

feature/519-migrate-launchdarkly-configstore initial commit
  packages/integrations/stores/launch-darkly/package.json
  packages/integrations/stores/launch-darkly/tsconfig.json
  packages/integrations/stores/launch-darkly/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feature/519-migrate-launchdarkly-configstore adding launch darkly and open feature as dependencies
  packages/integrations/stores/launch-darkly/package.json
Due: pnpm prettier --ignore-path .gitignore --write

feature/519-migrate-launchdarkly-configstore adding src file
  packages/integrations/stores/launch-darkly/src/launch-darkly.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feature/519-migrate-launchdarkly-configstore adding relevant dependencies
  packages/integrations/stores/launch-darkly/package.json
Due: pnpm prettier --ignore-path .gitignore --write

feature/519-migrate-launchdarkly-configstore correcting import and fixing call to super
  packages/integrations/stores/launch-darkly/src/launch-darkly.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feature/519-migrate-launchdarkly-configstore correcting import
  packages/integrations/stores/launch-darkly/src/launch-darkly.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Documentation of MsSQLConfigStore
  docs/integrations/store/db/mssql.mdx
Due: none

Documentation MsSQLConfigStore mdx compatibility update
  docs/integrations/store/db/mssql.mdx
Due: none

Documentation CockroachDBConfigStore
  docs/integrations/store/db/cockroachdb.mdx
Due: none

Create README.md for CockroachDBConfigStore
  packages/integrations/stores/cockroach-db/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

Update README.md
  packages/integrations/stores/postgresql/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Migrate `PostgreSQLConfigStore` to `@configu/integrations` (#605)
  packages/integrations/stores/postgresql/README.md
  packages/integrations/stores/postgresql/package.json
  packages/integrations/stores/postgresql/src/postgresql.ts
  packages/integrations/stores/postgresql/tsconfig.json
  packages/integrations/stores/postgresql/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Add global flags to `@configu/cli` (#610)
  packages/cli/src/commands/base.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Path conditions:
  pnpm build --force: any of: packages/**/*.ts
  pnpm prettier --ignore-path .gitignore --write: (any of: *.{js,mjs,ts}) or (any of: *.{md,json,yaml})
  pnpm eslint --ignore-path .gitignore --cache --fix: any of: *.{js,mjs,ts}
