Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["pnpm build --force"],
  "*.{js,mjs,ts}": [
    "pnpm prettier --ignore-path .gitignore --write",
    "pnpm eslint --ignore-path .gitignore --cache --fix"
  ],
  "*.{md,json,yaml}": ["pnpm prettier --ignore-path .gitignore --write"]
}

Update action.yml
  .github/actions/ts-env-action/action.yml
Due: none

CD
  .github/actions/ts-env-action/action.yml
  pnpm-workspace.yaml
Due: pnpm prettier --ignore-path .gitignore --write

Upgrade Node.js to LTS (#747)
  .devcontainer/Dockerfile
  .node-version
  .npmrc
  .nvmrc
  package.json
  packages/cli/Dockerfile
  packages/cli/package.json
  packages/common/package.json
  packages/formatters/package.json
  packages/proxy/Dockerfile
  packages/sdk/package.json
  packages/stores/configu-platform/package.json
  packages/stores/hashicorp-vault/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prepare.mts
Due: pnpm prettier --ignore-path .gitignore --write

cr
  .github/workflows/ci-health.yml
  build.mts
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

optimize docker
  .dockerignore
  .github/actions/deploy-start-action/action.yml
  .github/actions/ts-env-action/action.yml
  .github/workflows/cd-cli.yml
  .github/workflows/cd-ts.yml
  packages/cli/Dockerfile
Due: none

optimized cli Dockerfile
  .github/workflows/cd-cli.yml
  package.json
  packages/cli/Dockerfile
  packages/cli/package.json
  packages/proxy/Dockerfile
  prepare.mts
Due: pnpm prettier --ignore-path .gitignore --write

Update cd-ts.yml
  .github/workflows/cd-ts.yml
Due: none

cr
  .github/workflows/cd-cli.yml
  packages/cli/Dockerfile
Due: none

revert const expression wrapping
  packages/sdk/src/commands/EvalCommand.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Revert const expression wrapping (#751)
  packages/sdk/src/commands/EvalCommand.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat(cli): better docker image (#721)
  .dockerignore
  .github/actions/deploy-start-action/action.yml
  .github/actions/ts-env-action/action.yml
  .github/workflows/cd-cli.yml
  package.json
  packages/cli/Dockerfile
  packages/cli/package.json
  packages/proxy/Dockerfile
  prepare.mts
Due: pnpm prettier --ignore-path .gitignore --write

fix ci
  .devcontainer/Dockerfile
  .github/actions/ts-env-action/action.yml
  .github/workflows/cd-cli.yml
  .node-version
  .nvmrc
  package.json
  packages/cli/Dockerfile
  packages/cli/build.mts
  packages/common/package.json
  packages/proxy/Dockerfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prepare.mts
Due: pnpm prettier --ignore-path .gitignore --write

Better docker image (#752)
  .devcontainer/Dockerfile
  .dockerignore
  .github/actions/deploy-start-action/action.yml
  .github/actions/ts-env-action/action.yml
  .github/workflows/cd-cli.yml
  .node-version
  .nvmrc
  package.json
  packages/cli/Dockerfile
  packages/cli/build.mts
  packages/cli/package.json
  packages/common/package.json
  packages/proxy/Dockerfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prepare.mts
Due: pnpm prettier --ignore-path .gitignore --write

Update xy.cfgu.yaml
  packages/schema/data/xy.cfgu.yaml
Due: pnpm prettier --ignore-path .gitignore --write

add support for raw yaml and http based schema
  .vscode/launch.json
  packages/cli/debug.sh
  packages/common/src/CfguFile.ts
  packages/common/src/utils/Input.ts
  packages/sdk/src/expressions/Validators.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update CfguFile.ts
  packages/common/src/CfguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update packages/common/src/CfguFile.ts
  packages/common/src/CfguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update packages/common/src/utils/Input.ts
  packages/common/src/utils/Input.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update Input.ts
  packages/common/src/utils/Input.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Support raw yaml and http based schema (#756)
  .vscode/launch.json
  packages/cli/debug.sh
  packages/common/src/CfguFile.ts
  packages/common/src/utils/Input.ts
  packages/sdk/src/expressions/Validators.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat
  packages/cli/debug.sh
  packages/cli/package.json
  packages/cli/src/commands/export.ts
  packages/common/package.json
  packages/common/src/ConfiguFile.ts
  packages/common/src/utils/Input.ts
  packages/formatters/package.json
  packages/proxy/package.json
  packages/sdk/package.json
  packages/stores/configu-platform/package.json
  packages/stores/hashicorp-vault/package.json
  packages/stores/kubernetes-secret/package.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

CLI export & Security fixes (#760)
  packages/cli/debug.sh
  packages/cli/package.json
  packages/cli/src/commands/export.ts
  packages/common/package.json
  packages/common/src/ConfiguFile.ts
  packages/common/src/utils/Input.ts
  packages/formatters/package.json
  packages/proxy/package.json
  packages/sdk/package.json
  packages/stores/configu-platform/package.json
  packages/stores/hashicorp-vault/package.json
  packages/stores/kubernetes-secret/package.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

azure-app-configuration
  examples/playground/.configu
  examples/playground/test.cfgu.yaml
  packages/stores/azure-app-configuration/README.md
  packages/stores/azure-app-configuration/package.json
  packages/stores/azure-app-configuration/src/index.ts
  packages/stores/azure-app-configuration/tsconfig.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fixup
  examples/playground/.configu
  packages/stores/azure-app-configuration/package.json
Due: pnpm prettier --ignore-path .gitignore --write

Update package.json
  packages/stores/azure-app-configuration/package.json
Due: pnpm prettier --ignore-path .gitignore --write

fix stores
  .lintstagedrc.js
  .syncpackrc.js
  .vscode/launch.json
  examples/playground/.configu
  examples/playground/module.ts
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/common/src/ConfiguFile.ts
  packages/common/src/utils/Modules.ts
  packages/formatters/package.json
  packages/proxy/package.json
  packages/sdk/package.json
  packages/sdk/src/expressions/Assertion.ts
  packages/stores/azure-app-configuration/package.json
  packages/stores/azure-key-vault/package.json
  packages/stores/cockroach-db/package.json
  packages/stores/etcd/package.json
  packages/stores/ini-file/package.json
  packages/stores/keyv/package.json
  packages/stores/launch-darkly/package.json
  packages/stores/maria-db/package.json
  packages/stores/ms-sql/package.json
  packages/stores/my-sql/package.json
  packages/stores/postgres/package.json
  packages/stores/sqlite/package.json
  packages/stores/xml-file/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

fix stores (#767)
  .lintstagedrc.js
  .syncpackrc.js
  .vscode/launch.json
  examples/playground/.configu
  examples/playground/module.ts
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/common/src/ConfiguFile.ts
  packages/common/src/utils/Modules.ts
  packages/formatters/package.json
  packages/proxy/package.json
  packages/sdk/package.json
  packages/sdk/src/expressions/Assertion.ts
  packages/stores/azure-app-configuration/package.json
  packages/stores/azure-key-vault/package.json
  packages/stores/cockroach-db/package.json
  packages/stores/etcd/package.json
  packages/stores/ini-file/package.json
  packages/stores/keyv/package.json
  packages/stores/launch-darkly/package.json
  packages/stores/maria-db/package.json
  packages/stores/ms-sql/package.json
  packages/stores/my-sql/package.json
  packages/stores/postgres/package.json
  packages/stores/sqlite/package.json
  packages/stores/xml-file/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: add --depth to eval command
  packages/cli/src/commands/eval.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: add --depth to eval command (#770)
  packages/cli/src/commands/eval.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat: add ObjectConfigStore base class and YamlFileConfigStore
  packages/common/package.json
  packages/common/src/ConfiguFile.ts
  packages/common/src/ConfiguInterface.ts
  packages/schema/.configu.json
  packages/stores/object/package.json
  packages/stores/object/src/index.ts
  packages/stores/object/tsconfig.json
  packages/stores/yaml-file/package.json
  packages/stores/yaml-file/src/index.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

test: add unit tests for YamlFileConfigStore and ObjectConfigStore
  packages/stores/object/src/index.test.ts
  packages/stores/yaml-file/src/index.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat: enable multi-file YAML config store with abstract base and set-specific merging capabilities.
  packages/stores/yaml-file/src/index.test.ts
  packages/stores/yaml-file/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat: add --include-hidden flag to export command
  packages/cli/src/commands/export.ts
  packages/sdk/src/commands/ExportCommand.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix
