Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

typo errors in hello-world.mdx (#501)
  docs/guides/hello-world.mdx
Due: none

lower level api tuning
  .vscode/launch.json
  packages/common/src/.configu
  packages/common/src/ConfiguFile.ts
  packages/common/src/Registry.ts
  packages/common/src/test.ts
  packages/sdk/package.json
  packages/sdk/package.tsup.json
  packages/sdk/src/utils/Expression.ts
  packages/sdk/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

bugfix: fix ci super slow tests run
  package.json
Due: pnpm prettier --ignore-path .gitignore --write

Update integrations README.md
  packages/integrations/README.md
Due: pnpm prettier --ignore-path .gitignore --write

Delete docs/images/configs-explorer/sets-graph-menu.png
  docs/images/configs-explorer/sets-graph-menu.png
Due: none

Delete docs/images/configs-explorer/platform-configs-explorer-sets.png
  docs/images/configs-explorer/platform-configs-explorer-sets.png
Due: none

Delete docs/images/configs-explorer/configs-grid-menus.png
  docs/images/configs-explorer/configs-grid-menus.png
Due: none

Configs Explorer page screenshot update
  docs/images/configs-explorer/configs-grid-menus.png
  docs/images/configs-explorer/platform-configs-explorer-sets.png
  docs/images/configs-explorer/sets-graph-menu.png
Due: none

bugfix: fix ci super slow tests run (#497)
  package.json
Due: pnpm prettier --ignore-path .gitignore --write

Fix broken tests
  packages/common/src/test/registry.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

cli initials & finetune integrations
  .configu
  .vscode/launch.json
  packages/cli/package.json
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/eval.ts
  packages/cli/src/commands/export.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/commands/upsert.ts
  packages/cli/src/index.ts
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/Registry.ts
  packages/common/src/test.cfgu.yml
  packages/integrations/convert-filenames.mjs
  packages/integrations/package.json
  packages/integrations/tsconfig.json
  packages/integrations/typedoc.js
  packages/proxy/src/index.ts
  packages/proxy/src/routes.ts
  packages/sdk/src/commands/ExportCommand.ts
  packages/sdk/src/core/Cfgu.ts
  packages/sdk/src/core/ConfigSchema.ts
  packages/sdk/src/utils/Json.ts
  pnpm-lock.yaml
  test.cfgu.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Allow provision of a default store (#478)
  packages/cli/src/base.ts
  packages/cli/src/commands/delete.ts
  packages/cli/src/commands/test.ts
  packages/cli/src/commands/upsert.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Implemented `CreditCard` `Cfgu Type` (#485)
  packages/ts/src/Cfgu.ts
  packages/ts/src/ConfigSchema.ts
  packages/ts/src/types/generated.ts
  types/Cfgu.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Implement CSV ConfigFormatter (#487)
  package.json
  packages/lib/src/formatters/ConfigFormat.ts
  packages/lib/src/formatters/configFormatters.ts
  packages/lib/src/formatters/formatters.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Fix broken tests (#499)
  packages/common/src/test/registry.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

`Configs Explorer` page screenshots update (#505)
  docs/images/configs-explorer/configs-grid-menus.png
  docs/images/configs-explorer/platform-configs-explorer-sets.png
  docs/images/configs-explorer/sets-graph-menu.png
Due: none

fix integ tests
  packages/common/src/Registry.test.ts
  packages/common/src/Registry.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix gh checkes
  packages/common/src/test.cfgu.yml
  test.cfgu.yaml
Due: pnpm prettier --ignore-path .gitignore --write

Update contributing guide according to the V1 structure (#486)
  CONTRIBUTING.md
Due: pnpm prettier --ignore-path .gitignore --write

fixes
  packages/integrations/expressions/validator/package.json
  packages/integrations/expressions/validator/src/validators.ts
  packages/integrations/expressions/validator/tsup.config.ts
  packages/integrations/expressions/validator/typedoc.js
  packages/integrations/formatters/CompactJSON/package.json
  packages/integrations/formatters/Dotenv/package.json
  packages/integrations/formatters/HelmValues/package.json
  packages/integrations/formatters/JSON/package.json
  packages/integrations/formatters/KubernetesConfigMap/package.json
  packages/integrations/formatters/TOML/package.json
  packages/integrations/formatters/TerraformTfvars/package.json
  packages/integrations/formatters/YAML/package.json
  packages/integrations/package.json
  packages/integrations/src/utils/File.ts
  packages/integrations/src/utils/KeyValue.ts
  packages/integrations/src/utils/ORM.ts
  packages/integrations/stores/aws-parameter-store/package.json
  packages/integrations/stores/aws-parameter-store/src/aws-parameter-store.ts
  packages/integrations/stores/aws-parameter-store/tsconfig.json
  packages/integrations/stores/aws-parameter-store/tsup.config.ts
  packages/integrations/stores/configu/package.json
  packages/integrations/stores/configu/src/configu.ts
  packages/integrations/stores/csv-file/package.json
  packages/integrations/stores/csv-file/src/csv-file.ts
  packages/integrations/stores/hashicorp-vault/package.json
  packages/integrations/stores/hashicorp-vault/src/hashicorp-vault.ts
  packages/integrations/stores/json-file/package.json
  packages/integrations/stores/json-file/src/json-file.ts
  packages/integrations/stores/json-file/src/utils/generated.ts
  packages/integrations/stores/sqlite/package.json
  packages/integrations/stores/sqlite/src/sqlite.ts
  packages/integrations/tsconfig.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Finetune @configu/integrations (#507)
  packages/integrations/expressions/validator/package.json
  packages/integrations/expressions/validator/src/validators.ts
  packages/integrations/expressions/validator/tsup.config.ts
  packages/integrations/expressions/validator/typedoc.js
  packages/integrations/formatters/CompactJSON/package.json
  packages/integrations/formatters/Dotenv/package.json
  packages/integrations/formatters/HelmValues/package.json
  packages/integrations/formatters/JSON/package.json
  packages/integrations/formatters/KubernetesConfigMap/package.json
  packages/integrations/formatters/TOML/package.json
  packages/integrations/formatters/TerraformTfvars/package.json
  packages/integrations/formatters/YAML/package.json
  packages/integrations/package.json
  packages/integrations/src/utils/File.ts
  packages/integrations/src/utils/KeyValue.ts
  packages/integrations/src/utils/ORM.ts
  packages/integrations/stores/aws-parameter-store/package.json
  packages/integrations/stores/aws-parameter-store/src/aws-parameter-store.ts
  packages/integrations/stores/aws-parameter-store/tsconfig.json
  packages/integrations/stores/aws-parameter-store/tsup.config.ts
  packages/integrations/stores/configu/package.json
  packages/integrations/stores/configu/src/configu.ts
  packages/integrations/stores/csv-file/package.json
  packages/integrations/stores/csv-file/src/csv-file.ts
  packages/integrations/stores/hashicorp-vault/package.json
  packages/integrations/stores/hashicorp-vault/src/hashicorp-vault.ts
  packages/integrations/stores/json-file/package.json
  packages/integrations/stores/json-file/src/json-file.ts
  packages/integrations/stores/json-file/src/utils/generated.ts
  packages/integrations/stores/sqlite/package.json
  packages/integrations/stores/sqlite/src/sqlite.ts
  packages/integrations/tsconfig.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update README.md
  packages/cli/README.md
Due: pnpm prettier --ignore-path .gitignore --write

fix: remove unused build process
  package.json
Due: pnpm prettier --ignore-path .gitignore --write

migrated desired store
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

migrated desired store
  packages/integrations/stores/gcp-secret-manager-config-store/package.json
  packages/integrations/stores/gcp-secret-manager-config-store/src/gcp-secret-manager-config-store.ts
  packages/integrations/stores/gcp-secret-manager-config-store/tsconfig.json
  packages/integrations/stores/gcp-secret-manager-config-store/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Migrate XmlFileConfigStore to @configu/integrations
  packages/cli/package.json
  packages/cli/src/commands/base.ts
  packages/integrations/stores/xml-file/package.json
  packages/integrations/stores/xml-file/src/configs-db.xml
  packages/integrations/stores/xml-file/src/xml-file.ts
  packages/integrations/stores/xml-file/tsconfig.json
  packages/integrations/stores/xml-file/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat: MySQLConfigStore to @configu/integrations migration
  packages/integrations/stores/my-sql/package.json
  packages/integrations/stores/my-sql/src/my-sql.ts
  packages/integrations/stores/my-sql/tsconfig.json
  packages/integrations/stores/my-sql/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Migrate TomlFileConfigStore to @configu/integrations
  packages/integrations/stores/toml-file/package.json
  packages/integrations/stores/toml-file/src/toml-file.ts
  packages/integrations/stores/toml-file/tsconfig.json
  packages/integrations/stores/toml-file/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Migrate MariaDBConfigStore to @configu/integrations
  packages/integrations/stores/mariadb/package.json
  packages/integrations/stores/mariadb/src/mariadb.ts
  packages/integrations/stores/mariadb/tsconfig.json
  packages/integrations/stores/mariadb/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Minor
  packages/integrations/stores/mariadb/package.json
Due: pnpm prettier --ignore-path .gitignore --write

Migrate KubernetesSecretConfigStore to @configu/integrations
  packages/integrations/stores/kubernetes-secret-store/package.json
  packages/integrations/stores/kubernetes-secret-store/src/kubernetes.ts
  packages/integrations/stores/kubernetes-secret-store/tsconfig.json
  packages/integrations/stores/kubernetes-secret-store/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

bugfix: disable auto-splitting of aws parameter store
  packages/integrations/stores/aws-parameter-store/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

bugfix: disable auto-splitting of aws parameter store (#536)
  packages/integrations/stores/aws-parameter-store/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

feat: MySQLConfigStore to @configu/integrations migration Closes #522 (#532)
  packages/integrations/stores/my-sql/package.json
  packages/integrations/stores/my-sql/src/my-sql.ts
  packages/integrations/stores/my-sql/tsconfig.json
  packages/integrations/stores/my-sql/tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

insert changes according to pr
  packages/integrations/stores/gcp-secret-manager-config-store/src/gcp-secret-manager-config-store.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

insert changes according to pr
  packages/integrations/stores/gcp-secret-manager-config-store/package.json
Due: pnpm prettier --ignore-path .gitignore --write

insert changes according to pr
  packages/integrations/stores/gcp-secret-manager-config-store/src/gcp-secret-manager.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

ci for integrations to test build step on PRs
  .github/workflows/ci-integrations.yml
Due: none

Path conditions:
  pnpm build --force: any of: packages/**/*.ts
  pnpm prettier --ignore-path .gitignore --write: (any of: *.{js,mjs,ts}) or (any of: *.{md,json,yaml})
  pnpm eslint --ignore-path .gitignore --cache --fix: any of: *.{js,mjs,ts}
