Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

merge
  packages/formatters/src/ConfigFormatter.ts
  packages/formatters/src/INI.ts
  packages/formatters/src/KubernetesConfigMap.ts
  packages/formatters/src/TOML.ts
  packages/formatters/src/TerraformTfvars.ts
  packages/formatters/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update build.mts
  packages/cli/build.mts
Due: none

Update cd-cli.yml
  .github/workflows/cd-cli.yml
Due: none

Update index.ts
  packages/cli/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix .configu var expansion
  packages/cli/src/commands/base.ts
  packages/cli/src/index.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/ConfiguInterface.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update ConfiguInterface.ts
  packages/common/src/ConfiguInterface.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

OSS V1 Bug: configu store need to support env vars if they exists #677
  packages/stores/configu/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

move lcoal packages to dev deps
  packages/cli/package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

add debugs
  .github/workflows/cd-cli.yml
  packages/common/src/ConfiguFile.ts
  packages/common/src/ConfiguInterface.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Revert "move lcoal packages to dev deps"
  packages/cli/package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write

Update base.ts
  packages/cli/src/commands/base.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Enhance searchClosest method to debug directory search and handle missing configu file
  packages/common/src/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix json config
  packages/cli/src/commands/run.ts
  packages/common/src/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update ConfiguFile.ts
  packages/common/src/ConfiguFile.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

common fixes
  .vscode/launch.json
  packages/common/package.json
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/ConfiguInterface.ts
  packages/common/src/utils.ts
  packages/sdk/src/ConfigSchema.ts
  playground/.configu
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fixes
  .vscode/launch.json
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/export.ts
  packages/cli/src/index.ts
  packages/common/src/ConfiguInterface.ts
  packages/common/src/utils.ts
  packages/sdk/src/ConfigExpression.ts
  playground/.configu
  playground/stdin
  playground/test.cfgu.yaml
  playground/tmpl.txt
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix legacySchema handling
  packages/common/src/CfguFile.ts
  playground/v0.cfgu.json
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

support release channels on the install scripts
  .github/workflows/cd-cli.yml
  packages/cli/install.ps1
  packages/cli/install.sh
Due: none

improve install scripts
  packages/cli/install.ps1
  packages/cli/install.sh
Due: none

resolve install scripts
  packages/cli/install.ps1
  packages/cli/install.sh
Due: none

Update install.ps1
  packages/cli/install.ps1
Due: none

fix: add TerraformTfvars formatter import
  packages/formatters/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix: revert formatters package json
  packages/formatters/package.json
Due: pnpm prettier --ignore-path .gitignore --write

chore: update github connected image
  docs/images-old/integrations/integrations-github-connected.png
Due: none

docs: update integrations documentation for GitHub and add GitLab integration details
  docs/images/integrations/integrations-github-authorize.png
  docs/images/integrations/integrations-github-connected.png
  docs/images/integrations/integrations-gitlab-authorize.png
  docs/images/integrations/integrations-gitlab-connected.png
  docs/integrations/store/configu/integrations.mdx
Due: none

docs: add GitLab schema source details to config editor documentation
  docs/images/configs-editor/config-editor-schema-source-gitlab.png
  docs/integrations/store/configu/config-editor.mdx
Due: none

docs: update integration instructions for GitHub and GitLab to remove trailing periods
  docs/integrations/store/configu/integrations.mdx
Due: none

chore: replace gitlab images with new images with the colored gitlab icon
  docs/images/configs-editor/config-editor-schema-source-gitlab.png
  docs/images/integrations/integrations-gitlab-authorize.png
  docs/images/integrations/integrations-gitlab-connected.png
Due: none

Update config-explorer documentation to include 'Add Child Set' and 'Add Set' actions
  docs/images/configs-explorer/configs-filters.png
  docs/images/configs-explorer/platform-configs-explorer-grid.png
  docs/images/configs-explorer/platform-configs-explorer-sets.png
  docs/images/configs-explorer/sets-graph-menu.png
  docs/integrations/store/configu/config-explorer.mdx
Due: none

code align
  .eslintrc
  packages/common/package.json
  packages/formatters/package.json
  packages/formatters/src/ConfigFormatter.ts
  packages/formatters/src/Dotenv.ts
  packages/formatters/src/INI.ts
  packages/formatters/src/JSON.ts
  packages/formatters/src/TerraformTfvars.ts
  packages/formatters/src/YAML.ts
  packages/formatters/src/index.ts
  packages/formatters/src/utils.ts
  packages/schema/build.mts
  packages/schema/package.json
  packages/sdk/package.json
  packages/sdk/src/Cfgu.ts
  packages/sdk/src/ConfigKey.ts
  packages/sdk/src/ConfigSchema.ts
  packages/sdk/src/ConfigSet.ts
  packages/sdk/src/ConfigStore.ts
  packages/sdk/src/commands/EvalCommand.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: update installation scripts to use new file URLs for Configu CLI
  docs/guides/v1-migration.mdx
  docs/interfaces/cli/setup.mdx
  docs/snippets/cli-install-ci-cd.mdx
  docs/snippets/cli-install.mdx
Due: none

docs: update cli command refs to have command help screenshots
  docs/images/cli/cli-eval-command.png
  docs/images/cli/cli-export-command.png
  docs/images/cli/cli-login-command.png
  docs/images/cli/cli-upsert-command.png
  docs/interfaces/cli/ref.mdx
Due: none

docs: add reference for configu login command in CLI documentation
  docs/interfaces/cli/ref.mdx
Due: none

Path conditions:
  pnpm build --force: any of: packages/**/*.ts
  pnpm prettier --ignore-path .gitignore --write: (any of: *.{js,mjs,ts}) or (any of: *.{md,json,yaml})
  pnpm eslint --ignore-path .gitignore --cache --fix: any of: *.{js,mjs,ts}
