Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: ui component modifications
  packages/ui/src/components/Dropdown.tsx
  packages/ui/src/components/Search.tsx
Due: none

chore: adjustments
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/Search.tsx
Due: none

chore: adjust components for ds
  packages/ui/src/components/LayoutSwitch.tsx
  packages/ui/src/components/Search.tsx
Due: none

chore: adjust search component
  packages/ui/src/components/Search.tsx
Due: none

chore: adjust theme switch
  packages/ui/src/components/Switch.tsx
  packages/ui/src/globals.css
Due: none

chore: rename dropdown components
  packages/ui/src/components/Dropdown.tsx
Due: none

chore: apply new design to dropdown
  packages/ui/src/components/Dropdown.tsx
Due: none

chore: adjust popper width
  packages/ui/src/components/Dropdown.tsx
Due: none

remove empty construction pages until they ready
  docs/guides/hello-world.mdx
  docs/integrations/overview-all.mdx
  docs/integrations/overview.mdx
  docs/integrations/store/configu/config-explorer.mdx
  docs/introduction/overview.mdx
  docs/mint.json
  docs/package.json
  docs/prepare.mjs
  packages/schema/package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

chore: apply design to search component
  packages/ui/src/components/Command.tsx
  packages/ui/src/components/Popover.tsx
  packages/ui/src/components/Search.tsx
Due: none

build .cfgu json-schema dynamically
  packages/schema/build.mjs
  packages/schema/package.json
  packages/ts/src/Cfgu.ts
  packages/ts/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

initial version
  packages/proxy/.configu
  packages/proxy/README.md
  packages/proxy/config.backup.sqlite
  packages/proxy/config.csv
  packages/proxy/package.json
  packages/proxy/src/config.ts
  packages/proxy/src/index.ts
  packages/proxy/src/routes.ts
  packages/proxy/src/utils.ts
  packages/proxy/test/javascript.js
  packages/proxy/test/python.py
  packages/proxy/tsconfig.json
  packages/schema/build.mjs
  packages/schema/package.json
  packages/ts/package.json
  packages/ts/src/Cfgu.ts
  pnpm-lock.yaml
  tsconfig.build.json
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docker
  packages/proxy/.configu
  packages/proxy/.dockerignore
  packages/proxy/Dockerfile
  packages/proxy/README.md
  packages/proxy/config.backup.sqlite
  packages/proxy/config.csv
  packages/proxy/package.json
  packages/proxy/src/config.ts
  packages/proxy/src/index.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fixes
  .dockerignore
  examples/hello-world/.configu
  examples/hello-world/start.cfgu.json
  packages/proxy/.configu
  packages/proxy/Dockerfile
  packages/proxy/README.md
  packages/proxy/package.json
  packages/proxy/src/utils.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

ignore intellij config folder
  .gitignore
Due: none

finalize stable version
  .dockerignore
  examples/hello-world/.configu
  examples/hello-world/start.cfgu.json
  package.json
  packages/proxy/.configu
  packages/proxy/.dockerignore
  packages/proxy/Dockerfile
  packages/proxy/README.md
  packages/proxy/package.json
  packages/proxy/src/config.ts
  packages/proxy/src/index.ts
  packages/proxy/tsconfig.json
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

setup docs
  docs/interfaces/proxy/setup.mdx
  packages/proxy/Dockerfile
  packages/proxy/test/javascript.js
  packages/proxy/test/python.py
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs and release pipeline
  .github/workflows/cd-proxy.yml
  docs/images/proxy-docs-route.jpg
  docs/interfaces/cli/ref.mdx
  docs/interfaces/proxy/ref.mdx
  docs/interfaces/proxy/setup.mdx
  docs/interfaces/sdk/ts/globals.mdx
  docs/mint.json
Due: pnpm prettier --ignore-path .gitignore --write

drafter
  .github/configs/cli-release-drafter.yml
  .github/configs/lib-release-drafter.yml
  .github/configs/proxy-release-drafter.yml
  .github/configs/release-drafter.yml
  .github/configs/ts-release-drafter.yml
  .github/workflows/ci-drafter.yml
  .github/workflows/ci-health.yml
Due: none

Update labeler.yml
  .github/configs/labeler.yml
Due: none

fixes
  .github/workflows/ci-health.yml
  docs/interfaces/proxy/setup.mdx
Due: none

Update cd-cli.yml
  .github/workflows/cd-cli.yml
Due: none

fixes
  .github/workflows/cd-cli.yml
  .github/workflows/cd-lib.yml
Due: none

docs: fix typos in authorization page
  docs/integrations/store/configu/authorization.mdx
Due: none

align readme
  docs/interfaces/cli/ref.mdx
  packages/proxy/README.md
Due: pnpm prettier --ignore-path .gitignore --write

docs: initial work on billing docs
  docs/images/billing/billing-history.png
  docs/images/billing/billing-info-form.png
  docs/images/billing/billing-info.png
  docs/images/billing/change-method.png
  docs/images/billing/current-plan.png
  docs/images/billing/payment.png
  docs/images/billing/select-plan.png
  docs/images/billing/subscription-info.png
  docs/integrations/index.json
  docs/integrations/store/configu/billing.mdx
  docs/integrations/store/configu/settings.mdx
  docs/mint.json
Due: pnpm prettier --ignore-path .gitignore --write

Update cd-proxy.yml
  .github/workflows/cd-proxy.yml
Due: none

docs: add details regarding change plan and downgrade
  docs/integrations/store/configu/billing.mdx
Due: none

docs: improve billing docs copy
  docs/integrations/store/configu/billing.mdx
Due: none

docs: improve phrasing
  docs/integrations/store/configu/billing.mdx
Due: none

docs: improve billing page opening section
  docs/integrations/store/configu/billing.mdx
Due: none

docs: add warning regarding addons
  docs/integrations/store/configu/billing.mdx
Due: none

ignore intellij config folder (#434)
  .gitignore
Due: none

Publish CLI to NPM (#435)
  .github/workflows/cd-cli.yml
  .github/workflows/cd-lib.yml
Due: none

@configu/proxy (#432)
  .github/configs/cli-release-drafter.yml
  .github/configs/labeler.yml
  .github/configs/lib-release-drafter.yml
  .github/configs/proxy-release-drafter.yml
  .github/configs/release-drafter.yml
  .github/configs/ts-release-drafter.yml
  .github/workflows/cd-proxy.yml
  .github/workflows/ci-drafter.yml
  .github/workflows/ci-health.yml
  docs/images/proxy-docs-route.jpg
  docs/interfaces/proxy/ref.mdx
  docs/interfaces/proxy/setup.mdx
  docs/interfaces/sdk/ts/globals.mdx
  docs/mint.json
  package.json
  packages/proxy/Dockerfile
  packages/proxy/README.md
  packages/proxy/package.json
  packages/proxy/src/config.ts
  packages/proxy/src/index.ts
  packages/proxy/src/routes.ts
  packages/proxy/src/utils.ts
  packages/proxy/tsconfig.json
  packages/schema/build.mjs
  packages/schema/package.json
  packages/ts/package.json
  packages/ts/src/Cfgu.ts
  packages/ts/src/index.ts
  pnpm-lock.yaml
  tsconfig.build.json
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

docs: apply ran's feedback
  docs/integrations/store/configu/billing.mdx
Due: none

docs: fix grammar issues in the platform docs
  docs/integrations/store/configu/approval-queue.mdx
  docs/integrations/store/configu/config-editor.mdx
  docs/integrations/store/configu/config-explorer.mdx
  docs/integrations/store/configu/config-history.mdx
  docs/integrations/store/configu/integrations.mdx
  docs/integrations/store/configu/members.mdx
  docs/integrations/store/configu/settings.mdx
  docs/integrations/store/configu/tokens.mdx
  docs/integrations/store/configu/webhooks.mdx
Due: none

Path conditions:
  pnpm build --force: any of: packages/**/*.ts
  pnpm prettier --ignore-path .gitignore --write: (any of: *.{js,mjs,ts}) or (any of: *.{md,json,yaml})
  pnpm eslint --ignore-path .gitignore --cache --fix: any of: *.{js,mjs,ts}
