Repository configu/configu: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

.lintstagedrc:

{
  "packages/**/*.ts": ["pnpm build --force"],
  "*.{js,mjs,ts}": [
    "pnpm prettier --ignore-path .gitignore --write",
    "pnpm eslint --ignore-path .gitignore --cache --fix"
  ],
  "*.{md,json,yaml}": ["pnpm prettier --ignore-path .gitignore --write"]
}

fix hacktoberfest logo (#464)
  README.md
Due: pnpm prettier --ignore-path .gitignore --write

Created two tests for ConfigSet
  packages/ts/src/ConfigSet.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

#461 added hierarchy and path tests
  packages/ts/src/ConfigSet.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update Hacktoberfest banner to new 2024 design
  docs/images/banner/hacktoberfest-24-banner.svg
Due: none

register api & common boottrap
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/module.ts
  packages/common/src/registry.ts
  packages/common/src/test.ts
  packages/sdk/src/commands/ConfigCommand.ts
  packages/sdk/src/commands/EvalCommand.ts
  packages/sdk/src/commands/ExportCommand.ts
  packages/sdk/src/commands/index.ts
  packages/sdk/src/core/Cfgu.ts
  packages/sdk/src/core/ConfigSchema.ts
  packages/sdk/src/core/ConfigSet.ts
  packages/sdk/src/core/ConfigStore.ts
  packages/sdk/src/core/index.ts
  packages/sdk/src/index.ts
  packages/sdk/src/stores/InMemory.ts
  packages/sdk/src/stores/KeyValue.ts
  packages/sdk/src/stores/Noop.ts
  packages/sdk/src/stores/index.ts
  packages/sdk/src/utils/Expression.ts
  packages/sdk/src/utils/Naming.ts
  packages/sdk/src/utils/index.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

add ini formatter
  packages/lib/package.json
  packages/lib/src/formatters/ConfigFormat.ts
  packages/lib/src/formatters/configFormatters.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

add slug cfgu type
  packages/ts/src/Cfgu.ts
  packages/ts/src/ConfigSchema.ts
  packages/ts/src/types/generated.ts
  types/Cfgu.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Add Tests for ConfigSet Class #461 (#469)
  packages/ts/src/ConfigSet.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update Hacktoberfest banner to new 2024 design (#466)
  docs/images/banner/hacktoberfest-24-banner.svg
Due: none

Implement Slug Cfgu Type (#468)
  packages/ts/src/Cfgu.ts
  packages/ts/src/ConfigSchema.ts
  packages/ts/src/types/generated.ts
  types/Cfgu.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

bundle fixes
  packages/common/src/File.ts
  packages/common/src/index.ts
  packages/common/src/module.js
  packages/common/src/module.ts
  packages/common/src/test.ts
  packages/common/tsconfig.json
  packages/sdk/package.json
  packages/sdk/src/commands/EvalCommand.ts
  packages/sdk/src/commands/ExportCommand.ts
  packages/sdk/src/commands/UpsertCommand.ts
  packages/sdk/src/core/ConfigSchema.ts
  packages/sdk/src/stores/InMemory.ts
  packages/sdk/src/utils/Expression.ts
  packages/sdk/src/utils/Json.ts
  pnpm-lock.yaml
  tsconfig.bundle.json
  tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Configu SDK (#458)
  .github/workflows/cd-proxy.yml
  .node-version
  .npmrc
  .nvmrc
  package.json
  packages/common/package.json
  packages/common/src/File.ts
  packages/common/src/index.ts
  packages/common/src/module.js
  packages/common/src/registry.ts
  packages/common/src/test.ts
  packages/common/tsconfig.json
  packages/proxy/package.json
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/commands/ConfigCommand.ts
  packages/sdk/src/commands/EvalCommand.ts
  packages/sdk/src/commands/ExportCommand.ts
  packages/sdk/src/commands/UpsertCommand.ts
  packages/sdk/src/commands/index.ts
  packages/sdk/src/core/Cfgu.ts
  packages/sdk/src/core/Config.ts
  packages/sdk/src/core/ConfigSchema.ts
  packages/sdk/src/core/ConfigSet.ts
  packages/sdk/src/core/ConfigStore.ts
  packages/sdk/src/core/index.ts
  packages/sdk/src/index.ts
  packages/sdk/src/stores/InMemory.ts
  packages/sdk/src/stores/Noop.ts
  packages/sdk/src/stores/index.ts
  packages/sdk/src/utils/Expression.ts
  packages/sdk/src/utils/Json.ts
  packages/sdk/src/utils/Naming.ts
  packages/sdk/src/utils/index.ts
  packages/sdk/tsconfig.json
  packages/ts/src/utils.ts
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.bundle.json
  tsup.config.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

common setup
  packages/common/package-bundle.json
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/File.ts
  packages/common/src/commands.ts
  packages/common/src/index.ts
  packages/common/src/utils.ts
  packages/sdk/src/core/ConfigSchema.ts
  packages/sdk/src/utils/Json.ts
  packages/sdk/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

add formatters test
  packages/lib/src/formatters/formatters.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

simplify formatters test
  packages/lib/src/formatters/formatters.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

remove async from formatters test
  packages/lib/src/formatters/formatters.test.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Add configOptions flag
  packages/cli/src/commands/export.ts
  packages/lib/src/formatters/ConfigFormat.ts
  packages/lib/src/formatters/configFormatters.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Fix broken build step
  packages/common/src/index.ts
  packages/common/src/test.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Fix broken build step (#473)
  packages/common/src/index.ts
  packages/common/src/test.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Implement INI ConfigFormatter (#467)
  packages/lib/package.json
  packages/lib/src/formatters/ConfigFormat.ts
  packages/lib/src/formatters/configFormatters.ts
  packages/lib/src/formatters/formatters.test.ts
  pnpm-lock.yaml
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

fix gh action
  .github/workflows/cd-configu-integrations.yml
Due: none

Update ci-drafter.yml
  .github/workflows/ci-drafter.yml
Due: none

Update ci-drafter.yml (#474)
  .github/workflows/ci-drafter.yml
Due: none

Use _extend in configs instead of cat in gh
  .github/configs/cli-release-drafter.yml
  .github/configs/lib-release-drafter.yml
  .github/configs/proxy-release-drafter.yml
  .github/configs/ts-release-drafter.yml
  .github/workflows/ci-drafter.yml
Due: none

Update ci-drafter.yml (#475)
  .github/configs/cli-release-drafter.yml
  .github/configs/lib-release-drafter.yml
  .github/configs/proxy-release-drafter.yml
  .github/configs/ts-release-drafter.yml
  .github/workflows/ci-drafter.yml
Due: none

Add pretty flag to export CLI command
  packages/cli/src/commands/export.ts
  packages/lib/src/formatters/ConfigFormat.ts
  packages/lib/src/formatters/configFormatters.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Add --pretty flag to CLI export command (#471)
  packages/cli/src/commands/export.ts
  packages/lib/src/formatters/ConfigFormat.ts
  packages/lib/src/formatters/configFormatters.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

test fix
  .github/configs/cli-release-drafter.yml
  .github/configs/lib-release-drafter.yml
  .github/configs/proxy-release-drafter.yml
  .github/configs/ts-release-drafter.yml
  .github/workflows/cd-configu-integrations.yml
Due: none

Update ci-drafter.yml (#476)
  .github/configs/cli-release-drafter.yml
  .github/configs/lib-release-drafter.yml
  .github/configs/proxy-release-drafter.yml
  .github/configs/ts-release-drafter.yml
  .github/workflows/cd-configu-integrations.yml
  packages/cli/src/commands/export.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

try fix drafter
  .github/configs/cli-release-drafter.yml
  .github/configs/lib-release-drafter.yml
  .github/configs/proxy-release-drafter.yml
  .github/configs/ts-release-drafter.yml
Due: none

Update ci-drafter.yml (#477)
  .github/configs/cli-release-drafter.yml
  .github/configs/lib-release-drafter.yml
  .github/configs/proxy-release-drafter.yml
  .github/configs/ts-release-drafter.yml
Due: none

Update ConfigSchema.ts
  packages/ts/src/ConfigSchema.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update generated.ts
  packages/ts/src/types/generated.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Update Cfgu.ts
  types/Cfgu.ts
Due: pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Implement CreditCard Cfgu Type
  packages/ts/src/ConfigSchema.ts
  packages/ts/src/types/generated.ts
  types/Cfgu.ts
Due: pnpm build --force, pnpm prettier --ignore-path .gitignore --write, pnpm eslint --ignore-path .gitignore --cache --fix

Adding the line for creating nginx image
  examples/terraform/main.tf
Due: none

Add csv-stringify dependency
  packages/lib/package.json
  pnpm-lock.yaml
Due: pnpm prettier --ignore-path .gitignore --write
